[2017-11-17 06:49] theopolis commented on #3931
Ah, I see the logic problem here. This has nothing to do with the version of osquery, it's because your scheduled query has `removed: False` and there were only removed events recorded.

[2017-11-17 06:56] #3913 closed

[2017-11-17 18:56] andrewrosezen opened #3939 "3.x Breaking Changes Wishlist"
Stub

[2017-11-17 19:03] marpaia opened #3940 "[RFC] Discussion about 3.0.0 breaking changes"
As discussed in today's (Nov 17, 2017) osquery office hours, if we had the opportunity to cut a new major version and make some breaking changes, what would be on our shortlist of things that we could change that would make working with osquery more intuitive. This issue serves as a forum that allows people from throughout the community to discuss what changes they would like to see. I will contin

[2017-11-17 19:04] groob commented on #3940
It would be nice to create a Project + Milestone for 3.0(no due date) so that individual issues could be linked to that.

[2017-11-17 19:05] #3939 closed

[2017-11-17 19:06] zwass commented on #3940
From the office hours discussion:

Require that integers in configuration files are expressed as integers and not strings.

[2017-11-17 19:35] marpaia commented on #3940
I would like to propose changing the TLS API in a few ways that might make it easier to write servers against. In order of least to most objectionable:

### Start versioning the TLS API independently of osquery version releases.

This would require us to implement some mechanism for the client and server to resolve their supported version. Something like this might make it easier and less existent

[2017-11-17 21:25] obelisk commented on #3627
I don't think we need or want the contents of the file, I would say just fit the current schema.

@muffins

[2017-11-17 22:11] muffins commented on #3627
Nah no file contents, that'd probably be better suited as a different table, maybe the carves or something?

[2017-11-17 22:46] juju4 commented on #3667
Puppet (agent) also have an option to "ensure" service is in "running" state.

Current systemd config has already
[code]

In my case, I also have monit rules to ensure it is running, binary and config present

[2017-11-17 22:47] juju4 opened #3941 "syslog logger_plugin: how to change program name?"
Hello,

when using osquery (latest) with syslog output.
the program name or daemon appearing in syslog message can either be osqueryd, either worker.

any way to force one name like osqueryd? worker is a bit too generic.
pid anyway will allow to differentiate

Thanks

[2017-11-17 23:25] groob opened #3942 "macOS preferences not checking the by-host level(part 2)"
This is a followup from #3501, which looked fixed in #3681 but values are still not reported correctly.

Take this domain/key as an example:

`com.apple.notificationcenterui` / `doNotDisturb`

The `doNotDisturb` key will flip to true/false depending on the notification center flag.
<img width="181" alt="screenshot 2017-11-17 18 21 16" src="https://user-images.githubusercontent.com/1526945/32973180

[2017-11-17 23:49] groob commented on #3942
Looks related to the `isUserAdmin()` function here?

https://github.com/facebook/osquery/blob/ec2fc1a0c1d6b7bba4efa30bc8b98d7f2cfb5be6/osquery/tables/system/darwin/preferences.cpp#L137-L140

Should be currentUser even if username is an admin.

[2017-11-18 10:21] thedrow commented on #3940
I'd like to break the API for the extensions so that the results will contain a union of types (which is supported by thrift).
It will make the reporting more accurate and prevent us from converting everything to/from strings which is much more efficient.

The only place where only strings are accepted is LevelDB which we need to somehow resolve.

[2017-11-18 17:19] muffins commented on #3941
Hey @juju4, you might wanna try asking this question in [our Slack](https://osquery-slack.herokuapp.com/) as you'll likely get faster responses. That being said, I'm not sure if you can change that name, as we use `worker` to differentiate the watchdog process from the worker process. However that being said, there should be some indication that the process does belong to osqueryd. I'll need to re

[2017-11-18 22:50] theopolis commented on #3941
I've tried forcing the "name" with syslog a few times with mixed results. Right now we are explicitly setting `osqueryd` in the `openlog` syslog API call. I played with incantations of closing the log, re-opening, etc and it seems to do what it wants.

In my opinion we should abandon the `argv[0]` rewriting which would preserve any internal detection of process name by other libraries.

[2017-11-18 23:07] juju4 commented on #3941
from a process perspective, I'm fine with current state even if I would prefer something more clear like sshd does
[code]
so
[code]
or something similar

it's more on syslog side where having multiple identifiers (potentially changing?) is kind of making classification harder and force to rebuild index which is more or less annoying depending on target log collection. having just osqueryd and even

[2017-11-18 23:10] theopolis commented on #3941
My preference is still to remove the renaming.

I do like the differentiation of the worker/watcher process via easy inspection of `argv[0]` but in practice, making sure this is clean on all platforms is a PITA. I've noticed that on macOS the `processes` table reports a weird looking `cmdline` for processes that do this "copy over `const char* argv[0]` trick.

[2017-11-18 23:21] #3931 closed

[2017-11-19 00:26] theopolis commented on #3604
We've not differentiated the reasons why a worker or extension will be forcefully stopped. Those are sent to the watchdog's `stderr`. For some platform configurations, e.g., systemd, the `stderr` can be found in journald. We can improve this with a call to `systemLog`.

There's nothing in the watchdog that will disable the service. There was another issue (#3931) related to scheduled queries with

[2017-11-19 15:02] juju4 commented on #3941
Thanks a lot @theopolis !

[2017-11-20 04:19] WinXprt commented on #3092
I am using osquery on windows but unable to generate logs. Can you suggest me? How I can do that?

Thanks in advance.

[2017-11-20 10:12] alessandrogario commented on #3871
Hello Teddy!

I've made some small changes that may help us improve responsiveness when we terminate the process and reduce CPU usage during idle time:
 * Terminate message acquisition earlier if being interrupted.
 * Abort message queue processing when being interrupted.
 * Lower the getEvents() timeout.
 * Increase the poll() timeout in acquireMessages().

The following are the tests I've perfor

[2017-11-20 15:23] #3764 closed

[2017-11-20 15:25] #3941 closed

[2017-11-20 16:22] muffins commented on #3934
this was addressed with #3947.

[2017-11-20 16:22] #3934 closed

[2017-11-20 16:23] muffins commented on #3929
This was addressed with #3946

[2017-11-20 16:23] #3929 closed

[2017-11-20 16:24] muffins commented on #3043
This should largely be addressed #3945. I did some tests and found that our set of programs retrieved back is a super set of WMI, so it should be the case that we're getting all of the same applications as WMI, as well as applications that WMI isn't finding such as customized installers for local users. If anyone else finds additional applications missing from the osquery data, feel free to shoot

[2017-11-20 16:24] #3043 closed

[2017-11-20 17:51] straffin opened #3949 "Windows: osqueryd "--install" switch creates pathless service, doesn't run"
Running `osqueryd.exe --install` creates an "osqueryd" service with an ImagePath of `osqueryd.exe --flagfile=\ProgramData\osquery\osquery.flags` which then fails due to osqueryd.exe not being in the path.
Installing via chocolatey with the `--params='/InstallService'` flag creates a service with an ImagePath of `C:\ProgramData\osquery\osqueryd\osqueryd.exe --flagfile=\ProgramData\osquery\osquery.f

[2017-11-20 17:55] straffin opened #3950 "Windows: osqueryd service throws System error 7034 on restart"
When restarting the osqueryd service on Windows, the Service Control Manager throws an error of Event 7034: "The osqueryd service terminated unexpectedly." Other Windows services do not do this. The osqueryd service should me made to stop gracefully.

[2017-11-20 18:30] muffins commented on #3949
Yeah, in order to use the `osqueryd.exe --install` you need to invoke it via the full path, as the logic gets the invocation path used to pass to the service create, so you'd need to run `C:\Path\To\osqueryd.exe --install` in order for the service installation to work correctly, but we can definitely do better and have this information be derived!

[2017-11-20 18:31] muffins commented on #3950
What version of osquery are you running? We definitely have had issues in the past with shutting down in a "non-graceful" way, but if we're still doing this we'll definitely want to fix that up.

[2017-11-20 21:54] straffin commented on #3950
Chocolatey-installed osquery 2.9.0

[2017-11-20 21:59] straffin commented on #3949
Thank you. Looking back at the documentation, it *does* list the full path, but does not indicate that using the full path is necessary. Might be a worthwhile addition. 😃

[2017-11-20 22:51] ziet1 commented on #2656
Though I see that this issue was fixed over a year ago, it appears to still be a problem with the version I am using (2.10.0). Reproducing can be done as outlined above.
Without events-optimize=false, querying the same table multiple times only yields results for one of the queries. At first I thought this was intentional, but this issue seems to indicate it isn't.

[2017-11-20 23:50] javuto commented on #3627
@obelisk the problem of fitting the current schema of `startup_items` is that is too focused on the OSX implementation. For linux it should be `systemd` or `initscripts` instead and having its own schema.

[2017-11-21 00:43] muffins commented on #3950
@straffin great, thanks. Will investigate. 2.10.2 is available on Chocolatey, but I'm not positive that there's a fix for this behavior between 2.9.0 and 2.10, so I'll look into it.

[2017-11-21 00:45] muffins commented on #3949
@straffin definitely, let's go ahead and leave this open as a reminder to fix up either the docs or the behavior itself. That's definitely a UX imo, and merits a PR to fix that experience :)

[2017-11-21 00:48] zwass commented on #2656
@ziet1 it would be helpful if you can provide the configuration you are using and reproduction steps, otherwise we don't really have anything to go on with your report.

[2017-11-21 01:07] ziet1 commented on #2656
@zwass Apologies for that, I assumed the initial comment was sufficient:

[code]

file_events will receive updates while process_file_events will not return anything. After adding "events_optimize":"false" to the options, both receive differential updates.

I thought that the reason the process_file_events query was not returning any results was intentional due to the differential logging; once th

[2017-11-21 21:52] mattjane-okta opened #3953 "aws_firehose_logger broken in 2.10.1_1 +"
It seems that something introduced in 2.10.1_1 has caused the signature calculation for aws_firehose sending has broken.

error message:

[code]

Tested on ubuntu 16.04, versions 2.10.1_1, 2.10.2_1 and 2.10.3_1.

2.10.0_1 has been verified working.

Unfortunately it appears 2.10.2_1 is the version shipping from the apt repositories.

[2017-11-21 22:29] Centurion89 commented on #3735
We're deploying 2.10.2 to OSX this week. Will follow up in 1-2 weeks and determine whether this continues to be a bug or if it can be closed out

[2017-11-21 22:48] mattjane-okta commented on #3953
Affects OSx and Windows as well

[2017-11-22 00:33] theopolis commented on #3953
@uptycs-nishant is this related to the `beast` refactor?

[2017-11-22 03:52] muffins opened #3954 "extensions: Windows extensions either go away or do not start from cold boot"
There seems to be some stability issues around Windows C++ extensions. We've seen first hand that extensions seem to "disappear", and go away after starting properly. Further, it was mentioned in the #windows slack that it seems that extensions _might_ be failing to start alongside the Windows service from Cold Boot.

Let's use this issue to track robustness and stability issues around osquery ext

[2017-11-22 05:50] rhonnava opened #3955 "Securing the TLS connection from http_client"
In osquery/remote/http/http_client.cpp, inside the function ```void Client::encryptConnection()``` I notice that the HTTPS connection is over SSLv2/v3 as per this like `boost_asio::ssl::context ctx{boost_asio::ssl::context::sslv23};`, which is vulnerable and also does not confirm to some regulatory requirements like PCI.

Wondering if it can be changed to:

[code]

Also to make it more secure, we

[2017-11-22 07:26] theopolis commented on #3247
A poor attempt to write some Windows C++:
[code]

[2017-11-22 07:42] theopolis commented on #3955
Hi @rhonnava, thanks for pointing this out! Despite the name `sslv23`, this is actually the selection for OpenSSL's default-enabled set of protocols. So this does include TLSv1. We take several steps to make sure SSLv2 and SSLv3 cannot be used:
- Define the removal headers: https://github.com/facebook/osquery/blob/master/osquery/remote/http_client.h
- Remove SSLv2 and SSLv3 in the OpenSSL build: h

[2017-11-22 08:37] theopolis commented on #3247
@muffins that code doesn't compile, but it should get you started for replicating the `intel_me_info` table on Windows.

[2017-11-22 11:34] uptycs-nishant commented on #3953
@mattjane-okta , can you provide the post request headers for 2.10.0_1  and 2.10.1_1 ?

[2017-11-22 18:24] securityclippy commented on #3953
tracked down the error message at least, it first appears here via this commit: https://github.com/facebook/osquery/commit/58fa4a68993c5a030b68c0f5349d8b7c93d4866b#diff-20fbdada1729a78df943fa0e265d0120

in this file https://github.com/facebook/osquery/blob/58fa4a68993c5a030b68c0f5349d8b7c93d4866b/osquery/logger/plugins/aws_log_forwarder.h

@uptycs-nishant will work on grabbing headers for ya.

[2017-11-22 18:40] Centurion89 opened #3957 "Windows: Service should fail to start if encountering fatal error"
The windows service for osquery will start, even when certain "fatal" conditions occur.

For example, even if the daemon reports:
`E1122 10:34:19.965873  7876 init.cpp:603] [Ref #1629] osqueryd initialize failed: Could not initialize database`

The service will start "successfully" and not report any problems.

[2017-11-22 18:48] uptycs-nishant commented on #3953
Thanks @securityclippy

[2017-11-22 18:50] securityclippy commented on #3953
@uptycs-nishant actually, don't thank me yet.  It appears I have no idea what I'm doing.  --tls_dump did not give me the headers I was hoping for.  Is there a way to dump headers you can point me to?

[2017-11-22 19:05] uptycs-nishant commented on #3953
@securityclippy what url you are using?

[2017-11-22 19:13] uptycs-nishant commented on #3953
@securityclippy a quick compilation of the code -

Can you put the LOG message at "./utils/aws_util.cpp:123" ?
    for (const auto& requestHeader : request.GetHeaders()) {

      req << http::Request::Header(requestHeader.first, requestHeader.second);
    }

[2017-11-22 19:49] securityclippy commented on #3953
@uptycs-nishant thanks!  never compiled from source before, so bear with me a while.  Will try to get info out in an hour or two!

[2017-11-22 19:51] uptycs-nishant commented on #3953
can you give me the url for http request ?

[2017-11-22 19:54] securityclippy commented on #3953
@uptycs-nishant not sure which URL you're referring to tbh.  Hit me up on slack?  i'm @clippy in the osquery slack.

[2017-11-22 20:22] alessandrogario commented on #3953
Hey everyone! I submitted this PR when osquery was still using the older library (my tests were performed with cpp-netlib). It has been merged after Boost Beast has been introduced, so it is possible that something broke. I can look into it if you would like.

[2017-11-22 21:23] muffins opened #3959 "windows: provisioning still fails if multiple Python installations exist"
our provisioning scripting has issues if Python either already exists on the system, or is not present in the default path. The attempt to install python is fine but adding to our system path is failing.

[2017-11-23 00:38] theopolis commented on #3953
Thanks all!

[2017-11-23 00:38] #3953 closed

[2017-11-23 01:30] rhonnava commented on #3955
Thanks for the answer on SSLv2/v3!

Regarding PFS, I agree that it should not be forced and making it a configurable option. I can send a pull request for this.

[2017-11-27 07:35] lwhsu commented on #3750
FYI there is a patch for rocksdb port on FreeBSD: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=223836

[2017-11-27 09:25] theopolis opened #3964 "windows: make-win64-binaries reports success on failure"
I don't think any Windows build has failed since `676430b0196d2b265a286e9364d4330b282d04b8` (this is the last time I see an error in Jenkins).

I think this is the culprit, https://github.com/facebook/osquery/pull/3852

Here is the latest Window10 build, failing: https://jenkins.osquery.io/job/osqueryMasterBuildWindows10/1640/console

[2017-11-27 09:50] theopolis opened #3966 "freebsd: rocksdb in pkg latest should be compiled with RTTI"
The latest FreeBSD builds are failing. We recently switched back to using the "latest" builds from `pkg` so we could catch breakage sooner.

Here is the most recent build: https://jenkins.osquery.io/job/osqueryMasterBuildFreeBSD11/306/console
[code]

It fails to link because RocksDB recently added RTTI as an opt-in for their build.

We need to add `USE_RTTI=1`.

[2017-11-27 09:51] theopolis commented on #3966
We should be able to reproduce this issue if we update to the latest RocksDB for Windows and Darwin/Linux too.

[2017-11-28 05:03] theopolis commented on #3966
See #3750 @lwhsu has an open patch to fix this.

[2017-11-28 07:41] theopolis opened #3970 "Scheduled query blacklist=False capability"
Just like we have `snapshot`, and `removed`, we should include a `blacklist=False` optional query key. This key, if set to `False, 0, false` will prevent queries from being blacklisted.

[2017-11-28 19:20] mike-myers-tob commented on #3668
So what we merged in #3855 was a `groups` table for Windows, matching the schema of other platforms. It lists out the groups on the system.

Do we still want a `user_groups` table for Windows (to show the group that every user belongs to)?

[2017-11-29 00:17] muffins commented on #3668
@mike-myers-tob yeah we'll want to try and match the posix scheme if we can. The need for the `user_groups` table is to act as a bridge between the `groups` table and the `users` table, so you could have something like:
[code]

[2017-11-29 00:18] muffins commented on #3668
It _could_ be the case that there's an easier/better way to get this information on windows, and that definitely merits investigation, but the goal here would be the "Single query for all platforms" idea, so if we can it'd be awesome to mimic the posix schemas.

[2017-11-29 16:03] #3964 closed

[2017-11-29 22:50] xavinux commented on #1424
Hi all, I`m trying to build osquery on a Raspberry Pi 3. The Linux distro is Raspbian with Kernel 4.9.41-v7+  on armv7l GNU/Linux. This is a 32bit OS. Question is if I need a 64bit Kernel/Operating System to start working with osquery. Thanks for your attention.

[2017-11-29 22:52] marpaia commented on #1424
@xavinux I believe that you do, but I am not 100% certain and I haven't verified before writing this.

[2017-11-29 23:24] theopolis commented on #1424
Hi all, a fair warning, this is a extremely difficult task. If you don’t regularly port code or are not intimate with operating systems and compilers, please know you have a lot of homework and reading ahead.

The osquery community will not offer much help in tutoring folks through this process. You, the person porting, will have to be the subject matter expert.

[2017-11-30 02:17] juju4 opened #3975 "memory file carving?"
Hello,

Seeing through https://github.com/facebook/osquery/issues/3797, it seems a great capability!
Any plan to add memory capture?

basically it would be executing linpmem/osxpmem/winpmem on target system and writing output locally or to a network share. In former case, normal file carving apply for recovery.
Double-edge sword as it could mean remote code execution.

Thanks!

[2017-11-30 03:05] muffins commented on #3975
Hey there @juju4! We do have on _a_ roadmap to bring volatile memory carving to the osquery file carver, however this has been deprioritized quite a few times as we haven't found a heavy _need_ for it internally. That being said, it's definitely not been removed from our roadmaps, however there's no good clear ETA for when this might ship _from us_ at this point. That all being said, this would ma

[2017-11-30 03:05] #3975 closed

[2017-11-30 05:33] muffins commented on #3950
This was fixed with #3973

[2017-11-30 05:33] #3950 closed

[2017-11-30 15:20] xavinux commented on #1424
Hi,
"If you don’t regularly port code or are not intimat"
I don't have any problem with homework and reading.

"The osquery community will not offer much help in tutoring folks through this process. You, the person porting, will have to be the subject matter expert."
Well, I'm not an expert, and very disappointed to know that the community can't help someone who is trying to contribute to this int

[2017-11-30 19:14] theopolis commented on #1424
@xavinux, I just want to be super clear about expectations. The reason we cannot help is not because we choose not to, it’s because we do not have the knowledge. We love to help, as I hope is clear by all things related to osquery. But I want to set everyone up for success and that includes setting clear expectations.

[2017-12-01 14:13] xavinux commented on #1424
@theopolis no problem.

Maybe intead of "**_The osquery community will not offer much help in tutoring folks through this process._*** perhaps I think would've been better something like "**_Try, and if you're stuck on something maybe we can help!_**"

If we don't try because of the difficult of the idea and see how far can we go, will never get this work.  Of course I understand that maybe, the o

[2017-12-01 17:00] spasam commented on #3916
I added SSL support. SASL is not there!

[2017-12-01 18:09] groob commented on #3940
A breaking change for distributed writes I'd like to see is having a `error` field that comes in the response.

Right now, if a TLS plugin user tries to schedule an ad hoc query, and the query fails because the table requires a JOIN, the user will never know why the query failed unless they look at the status log.

[2017-12-01 18:28] marpaia commented on #3940
I would also like to propose establishing a rigid set of guidelines for tables/plugins that should/shouldn't live in osquery core and removing tables/plugins that don't adhere to those guidelines and breaking them out into an official extension.

[2017-12-04 19:56] zbuc opened #3984 ""Too many open files" from clients running OS X"
I'm seeing this happening widely across our fleet of OS X machines with OSQuery deployed:

[code]

**Invocation of **`osqueryd`**:**

`/usr/local/bin/osqueryd --database_path=/usr/local/zentral/osquery/db --tls_hostname=censored --enroll_tls_endpoint=/osquery/enroll --enroll_secret_path=/usr/local/zentral/osquery/enroll_secret.txt --config_plugin=tls --config_tls_endpoint=/osquery/config --config_

[2017-12-07 00:50] diptanu commented on #3609
One of the C++17 features that would be nice to have is if-expressions.

Sidenote - Clang 5 now has implemented all the C++17 features.

[2017-12-07 12:20] pmav99 opened #3988 "osqueryi and greek characters"
OS: Windows 2012
[code]
I installed the greek and the french spellchecking tools for microsoft office but when I run the following query:
```select name from programs where name LIKE '%Microsoft Office%'```
the greek spellchecker appears as ??? (the french is gibberish too, but that can be fixed by e.g. changing the codepage):
[code]
[code]

[2017-12-07 12:23] pmav99 commented on #3988
Actually, there is no need to install anything:
[code]
and
[code]

[2017-12-07 17:25] pmav99 commented on #3988
OK, I researched this a bit more. this is not related to encoding/codepages after all.

I created an `osquery.conf` file with the same query and run osqueryd. The results is attached. If you check the bytes, you will see that the greek spellchecker text is not proper bytes like the french one
[code]
Ι think that there is a problem with the way the Registry keys are being parsed here: https://githu

[2017-12-07 17:43] muffins commented on #3988
Thanks for opening the issue!  I believe that this behavior is relatively known (I knew about it at least ^.^), but we haven't had an issue tracking as it hasn't been a big priority yet, but we can start tracking with this task.

[2017-12-07 17:57] pmav99 commented on #3988
Thanks @muffins.

Just for completeness the name of the greek spellchecker is:
[code]

[2017-12-07 23:54] clong opened #3990 "Increase in osqueryd crashes after upgrade to 2.10.2"
After monitoring our graph of crashes by application, we saw a fairly sharp increase in osqueryd crashes after upgrading to 2.10.2. There are two specific crashes that are occurring across our entire Mac fleet:

Osquery Version: 2.10.2
OSX Version 10.12.6

**Crash 1**
Exception Type: EXC_CRASH (SIGABRT)
Registers:
[code]
Stack Trace:
[code]

---

**Crash 2**
Exception Type: EXC_BAD_ACCESS   (SIGSE

[2017-12-08 21:15] UntilDoomsday opened #3991 "file_events not watching file after vim edit"
I have found that if I edit a file I am monitoring using vim on CentOS7 it will cause the monitoring to fail on that file only. Other files being monitored will continue to report changes. I am able to consistently reproduce this issue by opening a monitored file with vim, editing the file, writing the output, then waiting a few second and writing the output again. The first write will produce a f

[2017-12-09 07:13] thedrow commented on #3609
Both Clang and GCC have experimental C++17 support.

[2017-12-10 07:03] uptycs-nishant commented on #3991
I could not reproduce the issue -

[root@nishant ~]# cat /etc/redhat-release
CentOS Linux release 7.4.1708 (Core)

[root@nishant ~]# uname -a
Linux nishant 3.10.0-693.el7.x86_64 #1 SMP Tue Aug 22 21:09:27 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

vim version -
version 7.4.160

You also mentioned on slack channel that you dont see this problem when you use nano editor ?

my config -

EXAMPLE_CONFIG

[2017-12-10 16:22] UntilDoomsday commented on #3991
Correct, I do not see this issue with nano. I also could not recreate in /tmp like your example, however I could recreate on files in /etc consistently. I set up a new VM on a different host using CentOS7 minimal, same issue using /etc/hosts and /etc/login.defs as the test files.

[2017-12-11 03:46] theopolis commented on #3871
Sorry for not updating sooner, I am retesting this branch now!

[2017-12-11 04:05] theopolis commented on #3871
The performance of this branch is nice. There's an odd experience I have when testing, if I start `osqueryi`:
[code]

It takes about 60s for events to show up, and then another 60s before events between that period are populated. If this is a delay we need to deal with, OK, but it's different than the current UX.

There are other UX changes we should consider making to this branch to make the chan

[2017-12-11 04:07] theopolis commented on #3871
I am seeing a LOT of:

[code]

[2017-12-11 04:13] theopolis commented on #3871
Also, this is how I run some stress tests:
[code]

You can compare the time-to-complete (in seconds) for this branch, master, and without anything audit-related running. This measures the aggregate responsiveness indirectly for the system too. AKA subjectively, longer times mean the system is prone to locking up. Anything >22s will be absolutely noticeable.

The compare the impact osquery had:
[co

[2017-12-11 14:03] uptycs-nishant commented on #3991
vim is playing tricks here, every time you open a file in edit mode and write, it creates new file.
you can observe this behavior via following test -
[root@nishant ~]# ls -li /etc/hosts
67155107 -rw-r--r--. 1 root root 158 Dec 11 06:53 /etc/hosts
[root@nishant ~]# vim /etc/hosts <--- open the file and write and exit from vim
[root@nishant ~]# ls -li /etc/hosts
67155112 -rw-r--r--. 1 root root 158

[2017-12-11 15:39] UntilDoomsday commented on #3991
That makes sense. Given how common it is to use vi/vim and to monitor files in /etc, I wonder if this is worth adding a note to the documentation. I am sure many people are not accounting for this in their configuration.

[2017-12-11 16:57] alessandrogario commented on #3871
Hello Teddy!

It shouldn't take that long to acquire the audit handle on a clean start; I have noticed that once you acquire it and release it several times, then it may take a while for a program to be able to re-acquire it again (in my experience, it's worse on CentOS 6 compared to more recent kernel versions). I have more strict error checking in my branch in some places, and this is one of the

[2017-12-11 21:18] PickmanSec opened #3994 "Startup Items table does not parse path out of "com.apple.loginitems.plist" properly."
* It's possible this is a misunderstanding about the startup items table.

I added a login item to my account and noticed the path field wasn't being parsed out of the file. I believe I added it using "https://github.com/pudquick/pyLoginItems/blob/master/pyLoginItems.py"
I noticed that when you look at the contents of `~/Library/Preferences/com.apple.loginitems.plist`  you can get the correct path

[2017-12-11 21:32] PickmanSec commented on #3994
so since I am really bad a bug reports: there appears to be a discrepancy between what I see when I decode the alias in `/Library/Preferences/com.apple.loginitems.plist`for one particular item and what osquery returns when I run `sudo osqueryi "select * from startup_items"`

[2017-12-12 15:10] pushkarevds opened #3995 "Add output result logs to windows eventlog"
Hello. Please, add output result logs to windows eventlog.

[2017-12-12 18:52] muffins commented on #3995
Hey @pushkarevds, this is already being added with #3887, thanks!

[2017-12-12 18:52] #3995 closed

[2017-12-12 20:25] pushkarevds commented on #3995
Thank you!

[2017-12-12 22:14] muffins opened #3996 "tests: Integration and unit tests for Windows Event Log plugin"
#3887 brings the capability for osquery to log directly to the Windows Event Log. This capability is pretty neat, but it living in core requires we build out testing around this capability for stability of the core platform. Let's use this issue to track building out both integration and unit tests around this capability.

[2017-12-12 22:51] clong commented on #3984
OSX: 10.12.6
osquery v2.10.2

+1 on this error - seeing this here as well

This is really not good, because the TLS server shows these hosts as online, but they're not actually logging any data to it.

[code]

[2017-12-12 23:10] clong commented on #3984
It's interesting, if you Google around there's a handful of projects having issues with FSEvents somewhat recently.

Examples:
http://livereload.com/troubleshooting/os-x-fsevents-bug-may-prevent-monitoring-of-certain-folders/
https://github.com/gohugoio/hugo/issues/3582
https://blog.dekstroza.io/ulimit-shenanigans-on-osx-el-capitan/

I just checked with my co-worker who is experiencing this issue

[2017-12-12 23:24] clong commented on #3984
My co-worker also has an `/etc/sysctl.conf` (I don't on my machine) which apparently is suffering from a trailing comma that breaks the world: https://www.ibm.com/developerworks/community/forums/html/topic?id=0597855f-0a90-46aa-be02-9fae4e93232f

[2017-12-13 00:37] clong commented on #3984
Full stack trace:

[code]

[2017-12-13 05:25] obelisk commented on #3984
@clong Perhaps your coworker did an upgrade and you a clean install?

[2017-12-13 16:21] zbuc commented on #3984
@clong:

[code]

[2017-12-13 16:46] uptycs-nishant commented on #3984
@zbuc

Can you also provide the output of the following command?
sudo lsof | grep '^osqueryd'

[2017-12-13 16:58] zbuc commented on #3984
[code]

[2017-12-13 17:06] uptycs-nishant commented on #3984
Thanks @zbuc

Are you able to see message "kqueue: Too many open files" with the same instance of osqueryd for which you executed "lsof" ?

[2017-12-13 19:27] zbuc commented on #3984
Yes

On Wed, Dec 13, 2017 at 12:06 PM, uptycs-nishant <notifications@github.com>
wrote:

[2017-12-13 21:26] clong commented on #3984
Figured out a workaround for this. Ultimately, we were seeing this happen on hosts with a low value  for open files according to `ulimit -a`:
[code]

The value of `sysctl kern.maxfiles` defines the upper bounds of what that number can be set to, and that value can be changed via `launchctl limit maxfiles <soft limit> <hard limit>`. Unfortunately, changes made from the command line don't persist pa

[2017-12-14 12:24] uptycs-nishant commented on #3984
Based upon the evidence provided by @zbuc , I have come up with following analysis -

osqueryd limit for can be opened files provided by @zbuc
"-n: file descriptors                4864"
It is highly unlikely that in his case problem arose because of osqueryd ran out of file descriptors.
I was able to reproduce the problem via stressing the system with the following program -
With the following pro

[2017-12-14 15:53] pudquick commented on #3994
One may want to investigate, on 10.13 (and possibly earlier?) machines the undocumented class "SFLManager", which has a shared instance for tracking SharedFileList types - of which LoginItems now is.

on 10.13:
[code]

[code]

[code]
etc.

This class has the potential to provide a great deal of information osquery may like.

/System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/S

[2017-12-14 22:25] theopolis opened #3998 "sql: getQueryColumns fails on UNIONed aggregation columns"
Check out the following behavior:
[code]

This API is very important and is used to determine the types for data. This is a complex use case but is practical (aka we have scheduled queries). We'll need to enhance the SQLite virtual machine parsing to determine the types.

[2017-12-16 03:39] johnnyramos commented on #3984
Getting hit with this as well, let me know if there is anything I can provide.

[2017-12-16 10:55] uptycs-nishant commented on #3984
Change of message from "kqueue:Too many open files in system"  to "kqueue:Too many open files" is manifestation of a bug in the form of resource leak ( process's file descriptor table slot is being leaked here) -
Call to fdalloc(p, 0, &nfd) checks that if the process is opening more than the number of files it can open and reserve a slot in the file-descriptor table which is returned via nfd.

If

[2017-12-16 23:44] theopolis commented on #3984
@uptycs-nishant, if I understand correctly then you should report that bug to Apple's RADR bug tracker.

[2017-12-17 00:45] theopolis opened #3999 "tables: Report process limits on darwin and linux"
This seems easy on Linux, the `/proc/PID/limits` reports hard and soft limits for each process. These are usually defined by `/etc/security/limits.conf` but a process may also use the C APIs/syscalls.

These are the limits reported by `ulimit` too.

I am not sure how to report this information on Darwin.

The system may also have hard limits, so another non-user or non-system table may be needed.

[2017-12-17 00:55] theopolis commented on #3991
@UntilDoomsday, I agree with the node about documenting this behavior. Do you mind reading through the file-integrity-monitoring markdown and adding that note where you see fit?

Here's the Markdown: https://github.com/facebook/osquery/blob/master/docs/wiki/deployment/file-integrity-monitoring.md

[2017-12-17 17:58] theopolis commented on #3994
On 10.12 this isn't exactly the same. `SFLManager` does not exist,

[code]

[2017-12-17 18:06] #3955 closed

[2017-12-17 18:16] theopolis commented on #3942
@groob, sorry for letting this slide for a while.

I *think* the lines you've referenced are OK. It should only select current user if a username is not provided to the method. In your use case you are sending 'victor'.

When you run your handy script, are you getting the same results as your user and as root?

[2017-12-17 18:18] #3604 closed

[2017-12-17 18:19] theopolis commented on #3570
We've made a lot of changes and we've updated RocksDB a few times. Please re-open if you're still seeing errors like this!

[2017-12-17 18:19] #3570 closed

[2017-12-17 18:20] theopolis commented on #3148
Reaping this issue as it's not really a bug, more of a proactive observation, and no one has run into this.

[2017-12-17 18:20] #3148 closed

[2017-12-19 09:39] fxcoudert opened #4009 "Build failure with boost 1.66.0"
osquery 2.10.2 fails to build with Boost 1.66.0 on macOS 10.12 and 10.13 (which we uncovered as part of testing for Homebrew):

[code]

[2017-12-19 15:29] ilovezfs commented on #4009
CC @theopolis

[2017-12-19 20:19] mcburrlin commented on #3984
We have seen an error similar to this on at least one of our hosts.

This environment: macOS 10.12.6

osquery version 2.10.0

`E1219 12:13:30.443387 35753984 registry.cpp:423] distributed registry tls plugin caused exception: pipe_select_interrupter: Too many open files`

Output of ulimit -a:

`core file size          (blocks, -c) 0
data seg size           (kbytes, -d) unlimited
file size

[2017-12-20 08:50] TennyZhuang opened #4012 "load query history while reopen `osqueryi`"
like `.bash_history`

[2017-12-20 10:35] rmetzler commented on #3912
I didn't was on my Ubuntu machine the time I updated the comment, but came over this problem today. This is a simple workaround, that works for me.

[code]

[2017-12-21 02:01] theopolis commented on #4012
Normally, `osqueryi` should do this, if you look in:

[code]

They query history is in that file. If you hit (up) in `osqueryi` it will cycle through those queries.

[2017-12-21 05:21] TennyZhuang commented on #4012
Got it.

My `~/.osquery` is owned by root only, maybe I execute `osqueryi` by sudo firstly, I have `chown` on it.

Thanks

[2017-12-21 05:21] #4012 closed

[2017-12-21 06:27] muffins opened #4014 "deps: update Windows boost and thrift dependencies"
Windows dependencies will need to be updated for boost and thrift to match posix.

[2017-12-21 16:39] uptycs-nishant commented on #3984
opened a bug with apple -
https://bugreport.apple.com/web/?problemID=36148377

[2017-12-22 18:48] theopolis commented on #3984
I see a lot of folks with 256 as the soft limit for open descriptors. We can change this limit to be the max of about 10k when the program starts. This should handle the RocksDB cases. For those having issues I can provide some test binaries if you’d like. Just +1 this comment or DM me in Slack.

There’s another potential issue, alongside the FSEvents bug, where we could potentially subscribe to 1

[2017-12-23 06:58] uptycs-nishant commented on #3984
On the RADAR now - http://www.openradar.me/36148377

[2017-12-23 23:25] theopolis commented on #4009
@ilovezfs, if you try to build osquery from `master` right now, using the `boost` and `thrift` from Homebrew (don't vendor them in), does it work?

I've updated our Thrift API usage to 0.11, from 0.10, it seems they are using `std::shared_ptr` now which is fantastic. I'm sure there is a way to compile and prefer `boost::shared_ptr` but I'm not interested in keeping backward compatibility and will

[2017-12-23 23:50] theopolis commented on #4009
Ah, nvm, this doesn't seem possible yet. I'll have to fragment our `boost` dependencies like I've done with `thrift`. Linux and macOS will build with 1.66 shortly.

[2017-12-24 05:42] theopolis commented on #4009
Ok now try!

[2017-12-24 05:44] ilovezfs commented on #4009
@theopolis awesome! I'll try to build master now.

[2017-12-24 06:07] ilovezfs commented on #4009
@theopolis LGTM:
[code]

[2017-12-24 06:18] theopolis commented on #4009
Tagged 2.11.1 https://github.com/facebook/osquery/releases/tag/2.11.1

[2017-12-24 06:18] #4009 closed

[2017-12-24 06:29] ilovezfs commented on #4009
Thanks @theopolis! Homebrew PR for 2.11.1: https://github.com/Homebrew/homebrew-core/pull/22090

[2017-12-28 18:35] muffins commented on #4014
Thrift has been updated, will get Boost updated soon.

[2017-12-28 19:59] theopolis commented on #3994
I have a really crappy way of handling these errors in development.

The issue, AFAIK, is the `path` is not valid so macOS's URL resolution from the bookmark data fails. We can fall-back to just parsing the content from the Alias structure; it's lame.

Using the reference here: https://github.com/al45tair/mac_alias/blob/master/doc/alias_fmt.rst I have a simple loop to search for the POSIX path tag

[2017-12-31 06:55] #3994 closed

[2017-12-31 06:56] #3991 closed

[2017-12-31 06:57] #3966 closed

[2017-12-31 06:58] theopolis commented on #3970
Implemented in #4005.

[2017-12-31 06:58] #3970 closed

[2018-01-03 17:06] muffins commented on #4014
Boost is having some issues with the 1.66.0 bump:
[code]

[2018-01-03 17:16] muffins commented on #4014
Ah disregard the above, I seemed to have had the wrong version of third party checked out :P

[2018-01-04 16:14] rodionos opened #4026 "Identify Linux servers that require Spectre/Meltdown upgrade"
Service Providers started releasing [notes](https://wiki.hetzner.de/index.php/Spectre_and_Meltdown/en) on Spectre and Meltdown issues.

It's early in the process, however is there a way using osquery to check if these attacks have taken place?

[2018-01-04 17:01] mtmcgrew commented on #4026
HI rodionos,

You've got a couple different questions in there.

1) Identifying servers that need the upgrade

This depends slightly based on distribution. For example, for RHEL the update is in the form of a kernel update along with other various packages (see the "Resolve" tab of https://access.redhat.com/security/vulnerabilities/speculativeexecution). In order to see if these updates have been

[2018-01-04 21:56] arirubinstein commented on #3632
I'm able to reproduce this with the brew version 2.11.2 and a simple extension that registers a few tables, and at bootup attempts to stat the socket location, sleeping for 1 second before retry if the file doesn't exist.   The homebrew version succeeds once every 5-ish times, but mostly hangs.  The brew version is from [this bottle](https://homebrew.bintray.com/bottles/osquery-2.11.2.high_sierra.

[2018-01-05 07:15] theopolis opened #4029 "deps: librdkafka on macOS breaks no_weak_imports because of clock_gettime"
We are using 10.11 as the minimum SDK, but librdkafka needs additional checks for clock_gettime in the tiny thread library they include.

[2018-01-05 14:45] NickTitle opened #4030 "Include HMAC of each added/removed row's content in diff q logs?"
We are using diff q logs to keep track of device state over time in a data store. In my implementation, I decorate result rows with hashes so that it's simple to upsert/update/delete without searching for rows that match these +/- logs to add/delete.

Additionally, this hash serves as decent primitive lookup key, rather than querying by the whole set of matching fields. For example, if you see a r

[2018-01-05 21:52] theopolis commented on #4030
I think so! Why am HMAC and not just a CRC or non keyed hash?

[2018-01-05 21:54] theopolis commented on #4014
In the top level CMakeLists, you’ll need to remove including the beast code from third-party. In 1.66 beast is in boost.

[2018-01-05 23:02] NickTitle commented on #4030
I happened to use HMAC on my side, but really anything works for this purpose. Glad you dig it!

[2018-01-06 04:03] theopolis commented on #3632
Thanks @arirubinstein, when you try to close osquery and it hangs, can you attack using `lldb -p PID` and then `bt all` and paste me the stacktrace for all of the threads?

[2018-01-06 04:04] theopolis commented on #3632
It seems likely that the threads spawned by Thrift are having some issue. It may be that control never returns from the Thrift server that is pausing while trying to open the socket, just total guesses here but stacktraces may provide more input.

[2018-01-06 04:23] arirubinstein commented on #3632
Here's the lldb output:
[code]

[2018-01-06 04:40] theopolis commented on #3990
SIGABRT is us doing something wrong with string processing most likely. We'd need to find out what query was running during this time. If you have the status logs there will be a `Scheduled query may have failed` and then the name of the query. If you can correlate the times we can find the responsible table, then do some exception handling to protect against this.

[2018-01-06 04:42] theopolis commented on #3735
Will close for now, if this is still an issue, let's investigate again.

[2018-01-06 04:42] #3735 closed

[2018-01-06 04:42] theopolis commented on #3815
Will close for now, if this still needs investigation we can reopen, thanks all!

[2018-01-06 04:42] #3815 closed

[2018-01-06 04:43] theopolis commented on #3667
Thanks for all the discussion here! I'm going to close this out, if we still need investigation we can reopen :)

[2018-01-06 04:43] #3667 closed

[2018-01-06 04:45] theopolis commented on #3632
Thanks! I think this is related to: https://github.com/jemalloc/jemalloc/issues/895

We do not use jemalloc in our releases.

I was able to replicate with an install from Homebrew.

[code]

[2018-01-06 04:49] theopolis commented on #3632
I wonder if there's a way to disable the jemalloc linking? Maybe it's pulled in from RocksDB? https://github.com/Homebrew/homebrew-core/blob/master/Formula/rocksdb.rb#L18

@ilovezfs usually knows everything :P

[2018-01-06 05:12] ilovezfs commented on #3632
The linkage is a consequence of https://github.com/Homebrew/homebrew-core/pull/15692. I'll see if we can make it go away by passing `-DWITH_JEMALLOC=OFF` to cmake.

[2018-01-06 05:41] ilovezfs commented on #3632
@theopolis this should take care of it: https://github.com/Homebrew/homebrew-core/pull/22485

[2018-01-06 05:55] theopolis commented on #3632
Wow, that was fast, I can re-run tests against that.

[2018-01-06 05:57] ilovezfs commented on #3632
It looks like `ENV["DISABLE_JEMALLOC"] = "1"` should work too.

[2018-01-06 06:20] ilovezfs commented on #3632
OK, I have shipped https://github.com/Homebrew/homebrew-core/pull/22485.

[2018-01-06 06:57] theopolis commented on #3632
@ilovezfs after a quick few tests it seems to be working fine! @arirubinstein, if you have a chance, do you mind re-testing the `brew` provided `osqueryi`?

[2018-01-06 06:59] ilovezfs commented on #3632
@theopolis excellent! @arirubinstein you'll need to `brew update && brew upgrade` since the changed formula is actually `rocksdb`.

[2018-01-06 07:07] arirubinstein commented on #3632
@theopolis @ilovezfs looks like that worked! I can't reproduce it in my environment now with the updated rocksdb formula, and the extension framework is working as expected.  Thanks for your help and looking into this 🙇

[2018-01-06 07:16] ilovezfs commented on #3632
@arirubinstein hurray! You're welcome and thanks for testing. Hopefully the next jemalloc release will be less temperamental.

[2018-01-06 08:48] #3632 closed

[2018-01-06 16:11] rodionos commented on #4026
Hello @mtmcgrew,

Using [RHEL 6](https://access.redhat.com/errata/RHSA-2018:0008) as an example, the system should be considered patched if the list of installed kernel packages includes the package **2.6.32** with version **696.18.7.el6**.

Translating this to osquery statement:

[code]

[code]

Alternatively, count=0 for the following query means the RHEL 6 server is **not** patched:

[code]

Fo

[2018-01-07 08:42] theopolis opened #4037 "macOS: Add default min-supported version as 10.11"
- Update documentation for this
- Update CMake, if there is not overriding environment variable.

[2018-01-07 08:43] theopolis opened #4038 "deps: Be on the lookout for a new version of librpm for OpenSSL support"
The current version of librpm (4.14) only supports NSS or BeeCrypt, and we use BeeCrypt.

The version in `master` has added support for OpenSSL.

https://github.com/rpm-software-management

[2018-01-07 08:44] theopolis opened #4039 "deps: Add linenoise to third-party"
Linenoise is a little boutique for package managers, we should place it into our `third-party` submodule.

We can also evaluate the newer commits to `linenoise-ng`, which have fixes for the history file permissions issues.

[2018-01-07 18:40] reedloden opened #4041 "Add unwanted Safari extensions pack"
Similar to https://github.com/facebook/osquery/blob/master/packs/unwanted-chrome-extensions.conf, should have an `unwanted-safari-extensions.conf`.

Good starting place:
https://github.com/etresoft/EtreCheck/blob/0f66005ad3b16981eadf00d5841982e8494d8d32/EtreCheck/adware.plist#L5-L19

[2018-01-07 18:42] reedloden opened #4042 "Add additional OS X malware/adware from EtreCheck"
https://github.com/etresoft/EtreCheck has a pretty long list of OS X malware/adware, and I don't think `osx-attacks.conf` covers it all. Should see what needs to be added.

https://github.com/etresoft/EtreCheck/blob/master/EtreCheck/adware.plist

[2018-01-08 02:25] muffins commented on #4014
This is done.

[2018-01-08 02:25] #4014 closed

[2018-01-08 02:33] muffins commented on #3916
Can we also use this issue to track porting the Kafka producer plugin to Windows? Seems like it's not currently supported.

[2018-01-08 07:45] juju4 opened #4043 "speculative info/PCID, cpuid flags on linux not consistent"
I see that a new table has been created https://github.com/facebook/osquery/commits/00040c6c1a7abbe8ed2ff3549eef8bb4a986b97d/osquery/tables/system/windows/kva_speculative_info.cpp

On Linux, system_info is parsing /proc/cpuinfo but does not return flags like PCID.
I can go through cpuid table but in some testing, I got invpcid but not pcid, even if /proc/cpuinfo has it (but not invpcid).

Comments

[2018-01-08 13:37] edenhill commented on #3916
FYI: https://github.com/edenhill/librdkafka/wiki/Language-bindings-development#expose-the-configuration-interface-pass-thru

[2018-01-09 22:01] mew1033 commented on #4043
+1

I was just examining the cpuid table for the PCID flag listed in `/proc/cpuinfo`. I see it in the file, but osquery doesn't pick it up. This (https://github.com/facebook/osquery/blob/master/osquery/tables/system/cpuid.cpp#L32-L64) makes it looks like it's only grabbing certain parameters.

[2018-01-10 22:10] fossam opened #4048 "promiscuous mode detection with the 'flags' column in interface_details not working"
Currently, as implemented in https://github.com/facebook/osquery/blob/master/osquery/tables/networking/posix/interfaces.cpp
promiscuous mode detection in Linux seems to work _only if_ an interface was put to promiscuous mode via SIOCSIFFLAGS (which getifaddrs seems to use). The expectation of using the flags column is that the detection works in all cases, especially when the interface is put to p

[2018-01-11 16:14] rodionos commented on #4026
[perf counters](https://www.endgame.com/blog/technical-blog/detecting-spectre-and-meltdown-using-hardware-performance-counters) approach to detecting abnormal cache flushes, as posted on HN. This would not give a definitive answer though and the information is not exposed to osquery.

[2018-01-12 10:55] Jackbennett opened #4052 "Update Choco package?"
Hi, I tried to have a poke around to get an answer first.

Is there a schedule to getting the choco package updated? currently it's 2.10.4 which isn't exactly old but it's marked a pre-release and I'd appreciate the easier time using event log support added in 2.11

Looked like the windows [jenkins queue is turned off](https://jenkins.osquery.io/view/All/job/osqueryMasterBuildWindows10/changes) po

[2018-01-12 15:33] theopolis commented on #4043
Right, it's only grabbing certain flags. If a flag is not in the CPUID table that means we did not test for it.

[2018-01-12 19:55] muffins commented on #4052
@Jackbennett ah truly sorry about that! We had a small hold up with our internal deployment so this fell behind. I just uploaded the package, and once it finishes verification (usually about 20 or 30 mintues) it'll be publicly listed: https://chocolatey.org/packages/osquery/2.11.0

Thanks for the ping, and please feel free to open if it doesn't show up shortly!

[2018-01-12 19:55] #4052 closed

[2018-01-12 23:38] mew1033 commented on #4043
@theopolis What are the chances of adding additional flags?

[2018-01-13 10:38] mingrammer opened #4057 "OS query logo is broken"
The logo image on  README is broken

[2018-01-14 20:27] theopolis commented on #4057
How so?

[2018-01-15 00:24] theopolis opened #4059 "Build version 2.11+ on FreeBSD"
FreeBSD's port is a little behind. Here are the things we need to get it going again.

1. The `rocksdb-lite` port will need the following environment variables defined when building. `USE_RTTI=1`, `DISABLE_JEMALLOC=1`.
2. The `cpp-netlib` and `linenoise-ng` ports are no longer needed, `asio` is no longer needed either, if it is used.
3. The thrift library should be at version `0.11` or greater, it

[2018-01-15 03:16] #4039 closed

[2018-01-15 03:16] theopolis commented on #4037
Implemented in #4053.

[2018-01-15 03:16] #4037 closed

[2018-01-15 03:17] theopolis commented on #4029
Implemented in #4054.

[2018-01-15 03:17] #4029 closed

[2018-01-15 03:24] #4043 closed

[2018-01-15 04:26] theopolis commented on #3631
It's been a while since v2.6.1. Please let me know if you're still seeing this error and we can re-open!

[2018-01-15 04:26] #3631 closed

[2018-01-15 04:26] #3620 closed

[2018-01-15 04:27] theopolis commented on #3593
It's been a while since v2.6.1, please let me know if you're still seeing this error and we can re-open!

[2018-01-15 04:27] #3593 closed

[2018-01-15 04:29] theopolis commented on #3605
We had some trouble with this on Homebrew, see the deadlocking from #3632.

[2018-01-15 05:05] #4048 closed

[2018-01-15 07:17] mingrammer commented on #4057
Why not do you fix it?

[2018-01-15 07:20] mingrammer commented on #4057
Official site using https://osquery.io/img/logo-2x.png as logo one. I think you should fix the current broken link with that

[2018-01-15 07:23] mingrammer commented on #4057
Cat I fix that it with PR?

[2018-01-15 11:12] fiorix commented on #4057
Yeah send in a PR

[2018-01-15 11:20] mingrammer commented on #4057
@fiorix Yes I will .. but, there is a problem I missed. Above image has `white` area, so the center of logo would not be shown correctly. The dark version is required.

[2018-01-15 11:22] mingrammer commented on #4057
Does osquery team has dark version one?

[2018-01-15 12:16] juju4 commented on #4043
Thanks @theopolis !

[2018-01-15 13:30] fiorix commented on #4057
I haven't looked but I assume there should be a png with transparent background.

[2018-01-15 17:50] #4057 closed

[2018-01-16 10:59] thedrow commented on #3605
This should already be fixed. https://github.com/jemalloc/jemalloc/pull/954
Is it possible that the OP in #3632 had an older version of jemalloc?

[2018-01-16 14:55] geekscrapy opened #4066 "Run query pack ad-hoc"
Is there a way to run a pack and log the output to a file without using osqueryd? Looking to run a set of packs once, not as a schedule.

[2018-01-16 15:58] geekscrapy opened #4067 "Use of decorators with the shell"
Are decorators currently implemented with the shell? I'm looking for the decorator to be present with each query result when running a pack.

TIA

[2018-01-16 22:16] clong commented on #3984
2.11.2 Completely resolved these issues for us

[2018-01-17 11:18] geekscrapy opened #4069 ""Recursive" searches on results"
Looking for a way to perform recursive searches on results. End result is to have a query which will provide file table results for values in services.path and/or services.module_path columns. We're intending to use OSQuery as a snapshotting tool, but not for continious monitoring. Therefore we need to collect everything we want to in one go, then analyse later.

An example of this is to enumerate

[2018-01-17 21:29] clong commented on #3871
@theopolis I think we're probably good to close this issue

[2018-01-18 09:48] geekscrapy commented on #4066
Closed, issue found #2093

[2018-01-18 09:48] #4066 closed

[2018-01-19 15:51] #3871 closed

[2018-01-19 15:58] theopolis commented on #4069
Absolutely! You can do all of this with SQLite. If you LEFT JOIN you will not lose results for right hand nulls. If you place the services into a sub query you can replace the variable expansions (very simply use the replace functions). There may be a more elaborate way to replace that handles arbitrary variables too.

[2018-01-19 21:13] sanghyunhong opened #4070 ""docker_container_processes" Not Showing Anything."
Hello,

I have been running OSQuery on my EC2 instances in AWS as well as on my Mac laptop, and I am running at least three containers per host. However, I cannot get anything from the command 'select * from docker_container_processes where id = <container_id>' in the OSQueryi.

Can you look at this issue as soon as possible, since I think it's the critical?

S.

[2018-01-19 23:17] spasam commented on #4070
Are you running as root or with privileged to connect to the domain socket?

[2018-01-19 23:31] pirxthepilot opened #4071 "Minor OS version not detected in CentOS 7"
Looks like osquery is not able to detect the minor version of CentOS 7:

[code]

Got the same results on osquery versions `2.10.2`, `2.11.0` and `2.11.2`.

Possibly related to #3753?

[2018-01-20 17:12] FireballDWF opened #4072 "make deps fails when attempted on ClearLinux"
$ make deps
Traceback (most recent call last):
  File "./tools/get_platform.py", line 210, in <module>
    familyAction()
  File "./tools/get_platform.py", line 182, in familyAction
    family, osType = _platform()
TypeError: 'NoneType' object is not iterable

[2018-01-20 21:11] theopolis commented on #4072
Hi @FireballDWF! I'd love to help, but I need more information about what's going on. I see that `make deps` is failing, but can you elaborate? What platform / OS are you using, has this ever worked before, etc. Please try to provide as much information as possible.

[2018-01-20 21:26] theopolis commented on #4067
A lot of these concepts don't apply to the shell right now. Do you mind elaborating on what you're trying to achieve?

[2018-01-20 21:32] theopolis commented on #4069
As an example:
[code]

In this example I am using a mock query in the inner-most subquery: `select '%userdir%/Mail' as path` definitely replace that with the `services` table you mentioned. The next layer does the replacement and renames the column using `as`. Be sure not to have any overlapping column names, but you can definitely bubble-up columns from the inner query to the outer-most by contin

[2018-01-20 21:35] #3984 closed

[2018-01-21 03:04] FireballDWF commented on #4072
Steps to Reproduce, assuming having docker.

1. sudo docker run -it clearlinux:latest bash
2. swupd update
3. swupd bundle-add network-basic-dev ruby-basic
4. git clone https://github.com/facebook/osquery.git
5. cd osquery
6. make deps

[2018-01-21 04:26] theopolis commented on #4072
Ah, I'm not very familiar with ClearLinux. This error with the platform detection is most likely the first of several porting errors you'll run into.

If you're looking to just use osquery, I'd recommend using: https://pkg.osquery.io/linux/osquery-2.11.2_1.linux_x86_64.tar.gz

[2018-01-21 10:01] beddari commented on #3740
Did you get anywhere on this? Selinux is pretty much a requirement for me ...

[2018-01-22 14:45] sanghyunhong commented on #4070
I installed the OSQuery with the command 'brew install osquery' and installed the docker with the installation image from the docker website.

- Doesn't this way provide the root access to the docker daemon or socket?
- How do I run the OSQuery as "root or with privileged to connect to the domain socket"?

[2018-01-22 14:50] spasam commented on #4070
Are you not seeing results from osquery daemon or are you trying above SQL from osqueryi command line interface? And how are you starting osqueryi? With sudo?

[2018-01-22 14:59] spasam commented on #4070
@sanghyunhong Can you check if you have this file?

`ls -la /var/run/docker.sock`

[2018-01-22 15:04] sanghyunhong commented on #4070
@spasam: Yep, I have it
`lrwxr-xr-x`  1 root  daemon  65 Jan 19 15:17 /var/run/docker.sock -> /Users/<laptop-name>/Library/Containers/com.docker.docker/Data/s60`

[2018-01-22 15:08] spasam commented on #4070
@sanghyunhong Are you on osquery slack channel. May be we can troubleshoot there!

Can you drop the where clause and just search for containers?
[code]

[2018-01-22 15:13] sanghyunhong commented on #4070
@spasam: I will be right there on the slack.

[2018-01-22 15:16] sanghyunhong commented on #4070
@spasam: FYI, here is the output from the command line
`osquery> select * from docker_containers;
+------------------------------------------------------------------+----------------+-----------+------------------------------------------------------------------+------------------------+------------+---------+-----------+
| id                                                               | name

[2018-01-22 23:50] lxcode commented on #4059
I pinged the thrift port maintainer. I'll test the changes to rocksdb-lite and commit those.

[2018-01-23 16:45] keeleysam opened #4080 "codename in os_version table returns incorrect information on Windows"
The codename key in the os_version table returns incorrect information about the product on systems which aren't running a standard client build of Windows 10, instead returning what the info would be if it were running on Windows 10.

For example, on Windows 7 Professional, you get results like this:
[code]

It also returns nothing on Windows 10 LTSB 2016.

This is due to a mapping of DWORDs to s

[2018-01-23 17:31] keeleysam commented on #4080
Thinking about this - isn't `name` really going to be basically the same thing with Microsoft at the front?

I think codename should probably be removed from Windows.

[2018-01-23 20:27] pmahoney-raise opened #4081 "Add InRelease file to apt repository"
In Ubuntu 17.10 with apt 1.5, I am unable to add osquery as a package source.

sources.list:
[code]

what happens:
[code]

From [DebianRepositoryFormat](https://wiki.debian.org/DebianRepository/Format), I understand that `InRelease` is a version of `Release` with the gpg signature inline, rather than in the separate `Release.gpg`.

`apt-get` has logic to try `InRelease` and fallback to `Release`,

[2018-01-23 20:57] lexelby commented on #4081
403 is thrown because we don't have access to `ListBucket`.

[2018-01-23 21:47] fincham commented on #3912
Is this likely to be fixed in upstream osquery?

[2018-01-24 19:54] clong commented on #3990
Sorry @theopolis, just saw your comment here. I think we may have identified the offending query. I'm going to disable it for a few hours and see if it has any effect on the crashes. Will report back later today.

[2018-01-25 01:14] bosungs2y opened #4083 "Using osquery cpu"
HELLO :)

I have one question about the CPU
When osquery is installed, the CPU seems to use "nice" instead of "user".
Are you using "nice" because of server when querying?

ps. Is there a way to set it to "User"?

[2018-01-25 17:45] obelisk commented on #4083
I believe we use nice because one of the core tenants of osquery is to be performant and impact the system as little as possible. What would you be hoping to gain specifically from increasing it's priority?

[2018-01-25 17:47] obelisk commented on #4080
@muffins Thoughts?

[2018-01-25 20:34] sanghyunhong opened #4085 ""docker_container_processes" Not Showing Anything on EC2 instance."
Hello,

I am running osquery in AWS EC2 instances, and those instances are running docker containers as well. I tried to run the command `select * from docker_container_processes where id = '<container_id>'` from the osqueryi command line, but anything showed up.

Can you look at this issue? the same command works at the Ubuntu environment.

- S.

[2018-01-25 22:18] obelisk commented on #4085
Were you running `osqueryi` as root?

[2018-01-25 22:33] sanghyunhong commented on #4085
@obelisk Yes, I did.

[2018-01-26 01:38] clong commented on #3990
Found 2 queries that crash way more often than others, but unfortunately disabling those queries didn't solve the problem. We're unable to determine what queries ran at what time due to missing timestamps in Kolide status logs (fixed here, but not included in the latest release yet: https://github.com/kolide/fleet/commit/6d328ed70c1175156bfa2e36a25f82fa339908e7)

As soon as we have timestamps for

[2018-01-26 22:13] sanghyunhong commented on #4085
@obelisk Hey, this is the error I ran the osquery with the verbose mode
`I0126 22:10:30.363524  4977 docker.cpp:537] Error getting docker container <container_id>: Invalid docker API response for /containers/<container_id>/top?ps_args=axwwo%20pid,state,uid,gid,euid,egid,suid,sgid,rss,vsz,etimes,ppid,pgrp,nlwp,nice,user,time,pcpu,pmem,comm,cmd: HTTP/1.0 500 Internal Server Error`

Can you please ch

[2018-01-26 22:22] simonsigre opened #4088 "Dead link README.md"
The link in README.md  for 'https://osquery.io/downloads' is incorrect it should be 'https://www.osquery.io/downloads/' (prefixed with www... for some reason?)

[2018-01-26 22:53] simonsigre commented on #4088
Looks to be a broader issue most links on the site that dont reference "www." are not working .. is there a 30x redirect missing for www --> @ ?

[2018-01-26 22:57] obelisk commented on #4085
It seems that there is an internal server error which is unrelated to osquery (I think, I don't use docker).

@alessandrogario You were mentioning some API changes coming up with this in office hours, can you elaborate here as well?

[2018-01-26 23:04] spasam commented on #4085
Hmmm, could be that the container does not support the ps args! Which container images are you running?

[2018-01-27 18:26] muffins commented on #4080
From my limited searching around, we got these codenames from [this doc](https://en.wikipedia.org/wiki/List_of_Microsoft_codenames), which clearly isn't a good way to do this, but I wasn't able to find a good API for pulling a string with the codename. I'm of the opinion that the information isn't hurting being there, and if we can find a better way to dynamically query the data we should just lea

[2018-01-27 18:29] muffins commented on #4088
I think you've got the links flipped? There shouldn't be a `www` prefix, and it seems that the sites without the `www` are working, along with the links on the site. Can you check again to verify the links aren't working? As we just made the site change you've might've been experiencing some residual issues, but it seems to be working fine for me.

[2018-01-27 21:30] simonsigre commented on #4088
I’ve just tried again and the downloads link fails both time now (with and without www.)

[2018-01-28 16:35] alessandrogario commented on #4085
@obelisk Once my other PR is accepted (https://github.com/facebook/osquery/pull/4024), I will have everything needed to add container support to the **processes** table as well.

Once it is implemented, I think it would be best to drop the **docker_container_processes** table; it is best to just use **processes** and join on **docker_containers** (which is how **process_open_sockets** and **listen

[2018-01-29 16:40] sanghyunhong commented on #4085
@spasam I have been running three containers (Nginx, Apache, and Ubuntu [Bash]). I have tested three environments: one is with the ubuntu as a host OS, and the others are Mac and EC2 Amazon Linux. Can the container types be cause of the issue?

@alessandrogario I wonder when your PR will be released as a stable version ... If it can take some time, can you please let me know how you join two table

[2018-01-29 16:44] spasam commented on #4085
Docker container processes API is a hack as it executes `ps` command in the container. We pass the following arguments to it: `axwwo pid,state,uid,gid,euid,egid,suid,sgid,rss,vsz,etimes,ppid,pgrp,nlwp,nice,user,time,pcpu,pmem,comm,cmd`

See if you can get to the containers shell and run ps command with above arguments. It looks like exec is failing. You might also find more info in syslog or where

[2018-01-29 17:06] sanghyunhong commented on #4085
@spasam Do those arguments are valid to _ps_ since I got this output?
[code]

[2018-01-29 17:08] sanghyunhong commented on #4085
@spasam I was passed the wrong command. The correct output will be:
[code]

[2018-01-29 18:04] alessandrogario commented on #4085
@sanghyunhong Keep in mind that as of now only process_open_sockets and listening_ports have support for user namespaces in my PR. I plan to extend it to processes (and other tables too) once it is merged - because it contains code I need.

An example query can be seen here: https://github.com/facebook/osquery/pull/4024#issuecomment-354616426

I find it is a better (and more portable approach) tha

[2018-01-29 18:12] sanghyunhong commented on #4085
@alessandrogario Just a quick question, are you assuming all the docker processes' information stored in the **processes** table? Otherwise, @spasam, why do we need the **docker_container_processes** query?

[2018-01-29 18:22] alessandrogario commented on #4085
@sanghyunhong All processes inside containers are also shown in the **processes** table, but since support for user namespaces is missing you have no idea whether each process is running on the primary namespace (i.e. the host) or inside a container.

[2018-01-29 18:37] sanghyunhong commented on #4085
@alessandrogario Thanks for those answers :)
... However, I am sorry. Got a bit confused ...

You proposed to join the *processes* table and the *docker_containers* table to retrieve the information about the processes running inside the docker, and now, you said we cannot do that because no username space information is not in both tables. Then, what do you recommend me to use as a key to combine

[2018-01-29 18:44] alessandrogario commented on #4085
@sanghyunhong The PR I linked contains code that lets you join **process_open_sockets** and **listening_ports** with **docker_container**. It also contains library code I need to add the same kind of functionality to **processes** and other tables. Once the PR is merged, i'll work on it.

[2018-01-29 18:48] sanghyunhong commented on #4085
@alessandrogario thanks! The last questions may be: how much time will it take usually for the both "the PR will be merged" and "the additions of other functionalities are done"?

We're really looking forward to using the functionalities ...

[2018-01-29 18:55] alessandrogario commented on #4085
@sanghyunhong don't mention it! The PR is still under review, so I can't tell you how long before it is ready. Implementing the rest is straightforward, and will not take much time.

[2018-01-30 03:15] muffins commented on #4088
I'm still not able to repro this. Tried visiting all of the links you have and I'm getting a valid site. The website itself is hosted here: https://github.com/osquery/osquery-site so perhaps we can file this issue there? Maybe it's been fixed recently? Looks like we've had quite a few commits relatively recently.

[2018-01-30 03:34] muffins opened #4089 "Windows tests fail with international versions"
It was mentioned in the Slack #windows channel that Windows tests are failing on a Portuguese Windows installation. I believe this is due to a hard coded user name:
[code]

[2018-01-30 06:10] muffins commented on #4089
Looks like we just need a [better test here](https://github.com/facebook/osquery/blob/master/osquery/tables/system/windows/tests/registry_tests.cpp#L151) that doesn't have assumptions on the username:

[2018-01-30 06:31] muffins commented on #4088
Ah! Looks like there's a good discussion happening about this in the Slack in #website. @simonsigre coudl you test _one more time_ and let us know if we're good? Seems like a fix went out. Going to close this issue but please let us know if it's still broken, thanks for the report!

[2018-01-30 06:31] #4088 closed

[2018-01-30 08:59] simonsigre commented on #4088
Yeah it looks to be fixed now.

[2018-01-30 20:46] npratley commented on #3740
@beddari I did not, sorry. Looks as though the audit event handling has moved around a bit, this is now in osquery/osquery/events/linux/auditdnetlink.cpp ?

[2018-02-01 02:49] obelisk commented on #4067
Instead of having decorators can you run the queries you'd want to decorate with along side the others?

[2018-02-01 09:17] ogoudron opened #4097 "osquery-2.11.2.msi failed to install on Windows 10 French version"
I tried to install osquery-2.11.2.msi on two Windows 10 (Professional and Family).
Both Windows are FRENCH versions and up to date (version 1709 - 16299.192).
There's no AD domain controller and theses two machines are in "workgroup mode".
Installation was tried with a user having admin rights.

In both cases i have this error message :
"An error occurred while applying security settings. Users is

[2018-02-01 17:44] obelisk commented on #4097
Heyo, this might be related to the following issue: #4089

Are there special characters in the username or group?

[2018-02-01 18:14] ogoudron commented on #4097
I installed from an admin user without any special character (hougouadmin) and this user is in the default admin group.
I supposed that it was related to a similar problem i encountered few months ago #3230.

Maybe you should inspect this file :
https://github.com/facebook/osquery/blob/master/tools/deployment/make_windows_package.ps1
And more specially this part :
<CreateFolder>
                <P

[2018-02-01 18:50] obelisk commented on #4097
Yep, that seems like it. We'll have to figure out a new way to do this. Thank you for reporting this!

cc: @muffins

[2018-02-01 20:27] obelisk commented on #4085
@alessandrogario We are working on reviewing your diff currently :)

[2018-02-01 21:16] yurivict opened #4098 "Fails to build on FreeBSD due to nodejs problems"
The FreeBSD port ```sysutils/osquery``` fails on FreeBSD:
[code]

Please advise how to fix, or better, get how to get rid of the NodeJS dependency.

[2018-02-01 23:14] lxcode commented on #4098
What have you chosen as the values for OPTIONS?

[2018-02-01 23:37] yurivict commented on #4098
The FreeBSD port calls cmake with these arguments:
[code]

[2018-02-02 00:03] obelisk commented on #4098
Broke the options out onto multiple lines.
[code]

[2018-02-02 00:30] clong opened #4099 "2.11.2 MSI uninstall does not remove any files"
OS: Win 10
MSI: 2.11.2 downloaded from osquery.io

Installing the MSI with `msiexec /i osquery-2.11.2.msi` works great.
However, attempting to uninstall osquery with `msiexec /x osquery-2.11.2.msi` does not appear to remove any files (although it seems to remove the entry in programs and features)

[2018-02-02 00:33] clong commented on #3930
Okay to close this now?

[2018-02-02 02:38] lxcode commented on #4098
I mean when you do a 'make config', do you have any of TSK/AWS/YARA/LLDPD selected?

[2018-02-02 03:20] #3930 closed

[2018-02-02 03:36] yurivict commented on #4098
All of them are off.

[2018-02-02 14:05] lxcode commented on #4098
Ok. There isn't actually a NodeJS dependency — it looks to me like this is coming from Thrift, but nothing in the ports tree at all depends on node-thrift. It might be that this is something that happens during the Thrift build process if you happen to already have NodeJS and/or PhantomJS installed. If you have the ability to remove those and try the build again, that might give us a clue. I can t

[2018-02-02 15:19] hemasalma opened #4100 "Problem with initializing database"
Hello,

We have installed Osquery-2.11 in our lab... we have copied conf file from /usr/share/osquery
and started the service using the following command

service osqueryd start

then when checking with the conf file using the command:
osqueryctl config-check

it is showing the below error:
E0202 20:04:09.015120 15390 init.cpp:591] [Ref #1629] osqueryd initialize failed: Could not initialize datab

[2018-02-02 19:34] muffins commented on #4100
@hemasalma typically the database path is `/var/osquery/osquery.db`, but this is commented out by default in the configuration. Can you verify that `/var/osquery` exists and that the user you're running the daemon as can write to that directory? We also [have a Slack](https://osquery-slack.herokuapp.com/) that can possibly get you faster answers :)

[2018-02-02 21:33] geekscrapy commented on #4067
I'd like to know what table, host, pack etc. a bunch of results was output from. For example, I have a pack of queries I've made, and it outputs to a log as json. I need to then be able to insert that data into a database in the correct tables. I can't do that easily because results without decorators means that I either have to potentially determine the query that was fun based on the results, co

[2018-02-03 01:27] yurivict opened #4101 "Build fails on FreeBSD: error: definition of type 'io_service' conflicts with typedef of the same name class io_service"
osquery-2.10.2
FreeBSD 11.1 amd4
boost-libs-1.66.0

[code]

[2018-02-03 01:28] yurivict commented on #4098
Now I also see a build failure  https://github.com/facebook/osquery/issues/4101
Not sure why this didn't happen yesterday.

[2018-02-03 01:31] yurivict commented on #4101
It turned out that this is due to a known problem. https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=224180

[2018-02-03 01:32] #4101 closed

[2018-02-03 05:57] 1ihor1 commented on #4097
Hello,
Just FYI - I'm encountering a similar issue with Ukrainian and Russian Windows versions.
Regards,
Ihor

[2018-02-04 00:50] yurivict commented on #4098
It's all likely to some other known problems. Closing for now.

[2018-02-04 00:50] #4098 closed

[2018-02-04 02:44] fossam opened #4103 "tables: report also session id in processes table under linux"
It would be nice to have session id also included in the process table for linux.
In _/proc/PID/stat_ session id is the 6th value.

While in recent kernels /proc/PID/status also tells us the session id in the _NSsid_ line, this is missing in older (but still used) kernels.

[2018-02-04 18:34] fossam opened #4104 "apt_sources does not return anything"
_select * from apt_sources ;_
does not return anything on Linux distros that use apt to manage their deb packages even though there are the default entries in /etc/apt/sources.list.

[2018-02-04 23:49] Dean-Coakley opened #4106 "Readme reference to missing logo file"
Logo file seems to be removed from the server

Currently points to:
https://osquery.io/img/logo-2x-dark.png

[2018-02-05 07:43] vpavic commented on #4081
Any updates on this? I've ran into the same problem trying to install on Ubuntu 17.10.

Thanks.

[2018-02-05 23:07] mattjane-okta opened #4108 "[Feature Request] Allow carver TLS endpoint to differ from general TLS endpoint"
### Background.
Currently it appears that both the start and continue endpoints for the carver require the endpoints to belong to the same domain and the general TLS endpoint used for configuration.

While this is understandable, it would be very beneficial to allow the carver to be located at a separate endpoint.

### Use case
Enabled flags
```--carver_start_endpoint```
and
```--carver_continue_e

[2018-02-06 06:29] muffins commented on #4108
This is definitely on our roadmap for _eventually_, I just haven't had cycles to tackle it. As I mentioned in Slack, I'll see if I can find some time to hit it this week, but if someone beats me to it that'd be pretty cool ;)

[2018-02-06 06:30] muffins commented on #4089
The PR up only fixes one aspect of this. The correct fix here is to derive the SID for Users inside of the WiX code. It should be relatively strait forward, as I've seen examples of folks doing this in WiX elsewhere, I just need time to play around with it.

[2018-02-06 08:06] salmajohnysk commented on #4100
Hi,
we have uncommented the path /var/log/osqueru.db  and we are able to see the directory /var/osquery .
if we start the osquery service we are able to push data into osquery.results.log   file based on the conf file information.
But if we check the conf file with below command it is showing error...

osqueryctl config-check

E0202 20:04:09.015120 15390 init.cpp:591] [Ref #1629] osqueryd initiali

[2018-02-07 11:42] groob opened #4110 "Docs have outdated repo urls"
https://osquery.readthedocs.io/en/stable/installation/install-linux/

The urls for apt/yum repos are out of date with the ones on osquery.io

[2018-02-07 11:56] groob commented on #4108
Related, since https://github.com/facebook/osquery/issues/3940 is about the TLS plugin and has a somewhat incompatible proposal (enforcing a specific versioned URL path for all TLS implementations)

@mattjane-okta I see the usecase for possibly wanting to point different endpoints to different servers. But how will you handle Authentication/Enrollment. If the TLS plugins would support separate ser

[2018-02-07 13:20] groob opened #4111 "Expose pubsub interfaces to thrift extensions"
We’ve had a lot of success with writing thrift extensions so far. I’d love to be able to write evented tables in an extension.

This was briefly discussed in a past officehours.

[2018-02-07 20:03] muffins commented on #4097
#4112 addresses this.

[2018-02-07 20:06] muffins commented on #4099
Interesting. I just tested off of master, and it's removing the files that it's (the MSI) "touched". Below is before and after of the installation/uninstallation. I wonder if there's something using the file, thus preventing the MSI from uninstalling anything?
![after](https://user-images.githubusercontent.com/1328916/35938817-34007bd8-0bff-11e8-9b31-861f907894c0.PNG)
![before](https://user-images

[2018-02-07 20:17] muffins commented on #4099
So even with using `msiexec` I get the same behavior, however it _is_ worth noting that I needed to stop the `osqueryd` service before the uninstallation would go through. @clong could you test stopping the service and see if that fixes? I can look into having the MSI do the service stop before attempting an uninstall rq, but I'm wondering if that's the only reason it's not removing any files?

[2018-02-07 20:30] muffins commented on #4099
Also tested running this with our internal corp configuration, which is pretty intense, and I still see all of the files removed, with the exception of the log and database directories and the pidfile.

[2018-02-07 21:54] clong commented on #4099
Totally strange - it must be something organizationally that is causing this to happen because you are correct - I just tried to repro on a fresh Win10 VM and uninstall works fine. Sorry about the false positive!

[2018-02-07 21:54] #4099 closed

[2018-02-08 00:01] muffins commented on #4106
#4114 fixes this. Thanks!

[2018-02-08 00:14] #4106 closed

[2018-02-08 06:28] #4097 closed

[2018-02-08 20:51] securityclippy opened #4116 "[bug] file-carver - pass block_id and block_cound as int, not string"
### start_carve

post currently passes the block_count key as a string, which should be passed as an Int

### continue_careve
post currently passes the block_id key as a string, should also be passed as an int.

This may be a breaking change for some implementations that have not adhered to the json specification, so this may be a good candidate for a 3.0 release

[2018-02-09 18:49] muffins commented on #4116
Ah, that was actually intentional for the `block_id`, as we make use of GUID values for that id. We can definitely change the `block_count`, however the block_id I might need to check a few things to ensure it doesn't break our internal deployment.

[2018-02-09 22:29] securityclippy commented on #4116
@muffins are you sure about that?

From my demo work, this is a start post
[code]

and the continue post ...

[code]

I would expect `carve_id` to be a string, but I'm unclear on why `block_id` would be a guid.  Is `block_id` not just a number based on `carve_size` chunked by `block_size`?

Its definitely not the end of the world, but adhering to standard data types makes other integrations and as

[2018-02-09 22:38] securityclippy commented on #4108
@groob This is a fair question.  In my particular use case, the concept was te use an API gateway with a lambda function backing it.  The lambda function has the ability to tie back to the authentication used by the primary server, so auth is actually backed by the same system, but endpoints are provided at a different address.

Definitely a thing we can skip too if there's no support for it elswh

[2018-02-09 23:38] muffins commented on #4116
Oh true dat. You are correct.

[2018-02-12 22:28] abazhaniuk opened #4122 "osquery extensions which is relaying on 3rd party Kernel module"
Hi guys,

Try to understand how to write OSquery extensions which is relaying on 3rd party Kernel module.
So, I have scenario when my OSquery extensions need to talk to some 3rd party device.
In this case should i load driver before run OSquery or should my OSquery extensions load it when it will collecting data?
For example we have chipsec tool (https://github.com/chipsec/chipsec), which is colle

[2018-02-13 01:40] PhoebeHui opened #4123 "Issues found when building with MSVC + /permissive-"
Build OSQuery with MSVC permissive- failed with error C2664, the issue in https://github.com/facebook/osquery/blob/master/osquery/tables/system/windows/bitlocker_info.cpp#L24
The code snippet is
WmiRequest wmiSystemReq("SELECT * FROM Win32_EncryptableVolume",
                          L"ROOT\\CIMV2\\Security\\MicrosoftVolumeEncryption");

One workaround is
WmiRequest wmiSystemReq("SELECT * FROM Wi

[2018-02-13 16:34] muffins commented on #4123
Thanks for reporting, we'll get on these :)

[2018-02-13 16:37] muffins commented on #4122
Yeah osquery extension would work best for what you're looking for here, and I believe you'd only want to have the extension load the third party driver when it starts up, which osquery can do for you. So osquery will spawn your extension, which in turn will load your third party driver, from which you can now query the information, package, and ship back to osquery. Hope that helps!

I'd encourag

[2018-02-13 16:37] #4122 closed

[2018-02-14 22:11] dcosson opened #4127 "Log to a plain tcp or udp socket, or http?"
I'm just getting started on osquery and so far I'm really enjoying it. But I'm wondering why there is no built-in logger option to stream the logs to a tcp or udp socket. Given that there is a tls logger, I would expect these to also exist as they seem like basically a simpler version of the same type of use.

My particular scenario is that I already have a fluentd log collector running on all of

[2018-02-14 23:57] dcosson commented on #4127
Ok, so it looks like osquery writes result logs to be owned by root and not world-readable, and I don't see any way to change it (even when I manually chmod the results.log file it changes it back the next time it flushes logs). So it seems like there's no way to set up another process to tail my osquery result logs if I don't run that process as root.

For such a relatively popular and mature pro

[2018-02-16 00:47] obelisk commented on #4127
Heyo! Sorry you're having issues getting osqueryd logging set up in a sustainable way.

To answer your first question about the logs owned by root, it's because if osquery is running as root it will collect data perhaps not visible to unprivileged users which is why osquery enforces that.

As for streaming data to a fluentd collector I will unfortunately be less helpful as I haven't used it person

[2018-02-16 01:39] obelisk commented on #4127
Here is branch I whipped up if you're looking for a starting point on this: https://github.com/obelisk/osquery/tree/simple_tcp

[2018-02-16 01:42] dcosson commented on #4127
Great, i'll start there. Thanks for the help

[2018-02-16 20:43] obelisk commented on #4123
#4131

[2018-02-16 20:57] #4123 closed

[2018-02-17 02:11] vronin commented on #3709
@terracatta @zwass I believe there is a cleaner way (no need for usage of DiskAttribution private framework) to check APFS encrypted status.
Here is swift code:

`let APFS_DEVICE_NAME = "disk1s1"
let APFS_FILEVAULT_ENCRYPTED_PROPERTY = "Encrypted"
func isEncrypted() -> Bool {
    if let diskRef = IOBSDNameMatching(kIOMasterPortDefault, 0,  APFS_DEVICE_NAME) {
        let diskService = IOServiceGet

[2018-02-19 15:21] filipVisko opened #4137 "Feature request: Microsoft Autopilot info - Windows Product ID and Hardware Hash"
Autopilot is a Windows equivalent of Apple DEP used to preconfigure devices upon purchase via supplier to then auto enrol into MDM.

This data is usually provided to Autopilot via your Win10 hardware supplier. It would be nice to have this data be queryable at any point since the Product ID can change or in order to add devices retroactively.
https://docs.microsoft.com/en-us/windows/deployment/win

[2018-02-19 16:07] fmanco opened #4139 "RequestsTests.test_compression fails on MacOS High Sierra"
With the update to MacOS High Sierra, filesystems were converted to APFS. When running on top of APFS the OS part of the GZIP header (http://www.zlib.org/rfc-gzip.html#file-format) has a value of `0x13` as opposed to `0x3` as it had before, making this test fail.

We'll need to query either OS version or filesystem to decide on the header value here.

To run the test:
[code]

[2018-02-19 19:53] muffins opened #4140 "bug: Windows extensions failing to load due to duplicate registry entries"
When attempting to load Windows extensions off of 2.11.2 the extension fails to load citing an attempt to load a duplicate registry item, `windows_event_log`:

[code]
The output from the shell itself:
[code]

[2018-02-19 23:28] muffins commented on #4140
Looks like the Windows Event Logger plugin is leveraging the same name as the Windows Event log publisher. Nice find by manu from Slack:
[code]

[2018-02-20 00:24] UnrealAkama commented on #2649
I sat down to take a stab at this but it appears it's already done.
https://github.com/facebook/osquery/blob/master/osquery/tables/system/windows/ie_extensions.cpp
Should this issue be closed?

[2018-02-20 00:40] muffins commented on #4140
Ah, looks like that wasn't the issue after all. The Windows Event Log logger plugin is being linked with core, so it's registered twice, once by the daemon and once by any extension that hooks up to the daemon. Moving the logger link code to the logger_pluggins CMake macro will fix this.

[2018-02-20 00:45] muffins commented on #2649
@UnrealAkama ah yeah, sorry about that! Closing out.

[2018-02-20 00:45] #2649 closed

[2018-02-20 06:06] muffins commented on #4089
#4112 addresses the `Users` group on international versions, this issue should be resolved.

[2018-02-20 06:06] #4089 closed

[2018-02-20 06:07] muffins commented on #4081
Sorry, looks like this fell off of our radar a bit! We'll figure out what's up.

[2018-02-20 06:09] muffins commented on #4085
This issue looks to be a repeat of #4070? Is that not the case? If so let's close this one out and keep notes aggregated in one issue.

[2018-02-20 14:55] sanghyunhong commented on #4085
@muffins sure, let's refer the issue #4070 and close it.

[2018-02-20 14:55] #4085 closed

[2018-02-20 18:03] zwass commented on #3709
@vronin this is great to see! I don't have the bandwidth to make the changes right now, but I'd be happy to review a PR :) Otherwise I'll keep this solution in mind for when I have more bandwidth or the existing solution breaks.

[2018-02-20 22:22] vronin commented on #3709
@zwass Unfortunately, they same here (don't have the bandwidth to prepare PR/test now).

[2018-02-21 05:31] muffins commented on #4140
fixed with 4140

[2018-02-21 05:31] #4140 closed

[2018-02-21 15:04] ageis opened #4144 "pkg.osquery.io is 403 forbidden as of 15:00 UTC Feb. 21"
The repository pkg.osquery.io seems not to have an open IAM/access policy.. It's a redirect to the S3 resource: https://osquery-packages.s3.amazonaws.com. Naturally, there's no signed Release file that can be retrieved either.
[code]

[2018-02-21 18:38] iBigQ opened #4145 "Audit fails when config is updated"
**Description**
The audit (event tables) fail when the configuration is updated at runtime.

**How to reproduce**
1. Have an initial config file, e.g., similar to this:
[code]

2. Start osqueryd, enabling process and socket audit. Also use the refresh interval, e.g., `--config_refresh=15`.

3. When osquery started and executed the initial schedule once, define a different schedule in the configura

[2018-02-21 21:14] obelisk commented on #4144
Heyo, can you elaborate on what you're trying to do? There is no InRelease file for that repo but there is a [Release](https://pkg.osquery.io/deb/dists/deb/Release) file with an accompanying [Release.gpg](
https://pkg.osquery.io/deb/dists/deb/Release.gpg).

[2018-02-21 21:17] ageis commented on #4144
Was just fetching via normal apy sources, but it appeared the IAM policy on
the bucket denied me (or a proxy or load balancer between me and S3). I
know the repository is valid, apt is only complaining cause it couldn't
receive signed Release file. It's some kind of S3 access or security
groups/firewall issue perhaps. Knowing nothing about your infrastructure of
course...

On Feb 21, 2018 1:14 PM,

[2018-02-21 21:19] ageis commented on #4144
I make the point that 54.231.121.91 = s3-1-w.amazonaws.com. Maybe it's a regional discrepancy (west/east)?

[2018-02-22 11:13] iBigQ commented on #4145
I have verified with a fresh osquery build on a different machine. Same behavior:
[code]

[2018-02-22 13:19] fmanco commented on #3959
I did a little debugging on this. Basically the script fails because it assumes after installation it is going to find python and it's path. But because python3 comes first the version found is not the right one and the function returns False which is then written to env.

There are two things here, one is the script shouldn't assume python is going to be found after installation. The second is th

[2018-02-22 16:39] muffins commented on #3959
I think those are great ideas! Note that you can also grab the Python installation path from the system registry, might be a better approach then how I’m doing t now, we simply needed an assurance that we were greater than Python 2.7.12, but the version info might also be in the registry. I’d say go ahead and knock this out if you see the path forward :)

[2018-02-22 17:12] muffins commented on #4144
Interesting, I am having quite a bit of trouble replicating. We definitely have open IAM policies on our files, and as @obelisk mentioned there is a Release and a Release.gpg present in our repo. Could you possibly show us the relevant entries from your `sources.list`? Or provide more information about your environment?

[code]

[2018-02-23 15:31] cocowalla opened #4149 "Unreliable audit-based file integrity monitoring"
I've cloned the git repo, built osquery from source, and am trying to get the new audit-based file integrity monitoring working on a CentOS 7 box.

I've stopped the default auditd daemon and have this in my config for options;

[code]
as well as this:
[code]
When starting osquery, I see these lines in the output, which looks promising, other than the unexpected mention of inotify:
[code]

However,

[2018-02-23 15:36] tandrew33333 opened #4150 "osquery appears to ignore files with names that contain multibyte characters over U+00FF on Windows"
Running on Windows 10 v1703 x64
STR:
1. Add "ÿ.txt" to your desktop.
2. Add "Ā.txt" to your desktop.
2.  Run .\osqueryi "SELECT * from file where path like 'c:\users\user1\desktop\%';" --json

Expected:
[
{"atime":"1519398540","block_size":"","btime":"0","ctime":"1519398540","device":"2","directory":"c:\\users\\bit9qa\\desktop\\osquery","filename":"ÿ.txt","gid":"0","hard_links":"","inode":"0","mod

[2018-02-23 15:53] muffins commented on #4150
Ah yes, this is due to a limitation that we made a decision to use ANSI APIs from the beginning, and have never moved to leveraging windows wide strings. [We have another issue](https://github.com/facebook/osquery/issues/2569) open requesting we make the shift, and in my opinion we should absolutely be using the wide string APIs, however we've never had the time or resources to make this shift.

T

[2018-02-23 16:04] muffins opened #4151 "windows: Update build projects to VS2017"
VS2017 has been out for a bit now, and it's proving to be substantially faster and more responsive than VS2015. Let's map out what the upgrade path looks like and deploy this.

[2018-02-23 18:26] #3940 closed

[2018-02-23 18:49] iBigQ commented on #4145
Querying event tables in updated schedules worked in 2.11.2, but does not work in the current master.

[2018-02-23 21:37] doy-stripe opened #4152 "error when loading an external logger plugin alongside a builtin one"
tl;dr: when using `--logger_plugin=filesystem,test-logger` (where `test-logger` is the name of a plugin loaded from an external extension), the extension manager dies with `terminate called after throwing an instance of 'std::out_of_range'  what():  map::at` after loading the extension.

I'm working on developing a custom logger extension, and I'm running into a bug where loading the logger plugin

[2018-02-23 22:38] juju4 commented on #4026
Capsule 8 made some nice blog post on possible detection with memory page faults or cpu performance info (load/load miss cache)
https://capsule8.com/blog/detecting-meltdown-using-capsule8/
https://capsule8.com/blog/detecting-meltdown-spectre-detecting-cache-side-channels/

I asked if something similar would be implemented in opensource monitoring tools like telegraf or netdata but that's need new

[2018-02-24 00:33] ageis commented on #4144
@muffins @obelisk I have to doubt this could be anything related to my environment; I've tested reaching the endpoint from multiple virtual machines in many regions/networks and received the same result. If you have logging enabled on your S3 bucket, you might get more info. The headers have request IDs and such. Maybe you're having trouble replicating cause your Facebook IP range is allowed? Heh.

[2018-02-24 11:32] #4026 closed

[2018-02-25 02:47] theopolis commented on #4152
Definitely a bug!

[code]

[2018-02-25 21:32] juju4 opened #4153 "osquery profiling not working on windows?"
latest osquery from chocolatey

https://ci.appveyor.com/project/juju4/ansible-win-osquery/build/0.1.x.43/job/e77pug35ytb7ixo6#L1360
[code]

[2018-02-26 13:11] kemalbayar opened #4157 "Long Sql Statements"
on a osquery agent without tls server, I see the exact (long) query in the output (--verbose) but no logging in osquery_results (local file on the client)

When the query to be changed to Select * from windows_events where eventid=1102; no logging problem

There is a problem with long sql statements ?

[code]

Details here: This case moved from https://github.com/kolide/fleet/issues/1713

[2018-02-26 17:56] obelisk commented on #4157
Hmm, this is an interesting issue. We run some very long queries here so it seems unlikely it would be the SQL engine; maybe something to do with windows event logs.

cc @muffins Any idea if there is something in the event code that could cause this?

[2018-02-26 19:28] lxcode commented on #4059
Thrift has been updated to 0.11.0, and I should have the USE_RTTI/JEMALLOC changes in shortly. These are both still necessary, right?

[2018-02-26 22:07] jacknagz opened #4158 "Update aws-sdk-cpp"
The version of the AWS SDK for C++ bundled into osquery is 1.2.7 (5 months old):

https://github.com/facebook/osquery/blob/dad25b89a9a898690ca9a3c3a5caf4ee76e7c5c0/tools/provision.ps1#L347-L348

While the latest published release is [1.4.5](https://github.com/aws/aws-sdk-cpp/tree/1.4.5).

To get the latest bug fixes, and more, it would be great to upgrade.  It may also resolve some ephemeral error

[2018-02-27 04:04] muffins commented on #4153
Yeah this is known, not a bug. We don't currently have support for quite a few integration tests on Windows, but these are on the roadmap.

[2018-02-27 05:12] muffins commented on #4157
@kemalbayar I updated your question to make things a little more readable, hope you don't mind :)

As for the question itself, there shouldn't be any issue here, so we'll dig into what's going on. I did some quick preliminary tests, and `in` statements the way you're using them definitely should work just fine on the `windows_event_log` table.

[2018-02-27 09:11] thedrow commented on #4144
I'm experiencing the same issue BTW.

[2018-02-27 17:04] muffins commented on #4144
Thanks @thedrow, I'm still trying to figure out what's up. @ageis yeah the root site for `osquery-packages.s3.amazonaws.com` shouldn't be accessible, that's on purpose, but the apt repo structure should be fine. I've checked the IAM/access policy and it's the same as it's ever been - read perms for public, so I'm still not sure what's up. I was somewhat AFK for the weekend and I'm still not back f

[2018-02-27 17:27] fmanco commented on #4144
Hi @ageis and @thedrow could you please provide distro, version and apt version? Also the full output of your command would be nice.

I don't think this has much to do with permissions/access control. The file `InRelease` actually doesn't exist and you're not supposed to be able to curl `https://osquery-packages.s3.amazonaws.com`. There are two ways to sign the release file (1) an `InRelease` file

[2018-02-27 18:11] manurautela opened #4161 "Notify extension about config changes from osquery core during config update/refresh"
There should be a mechanism in osquery core to notify an extension about config changes/refresh depending on config plugin(local/remote).

So that whenever config is changed extension gets to know in the first place along with the data(most likely json blob).  So that extension can parse it and retrieve it's `custom` fields and adjust itself.

[2018-02-27 22:39] monkykap opened #4162 "docker_container_stats not showing anything in Ubuntu"
Hello, heads up docker_container_stats does not show anything with specified container id on Ubuntu. Works on OSX. Tried both osqueryi (w/ sudo) and osqueryd (tls plugin)
[code]
[code]

[2018-02-28 00:40] spasam commented on #4162
Hmmm tried with latest 3.1.0 osqueryi and it worked for me. Any other tabe exhibiting this behavior? May be we need to add additional logging in these table for debugging!

[code]

[2018-02-28 04:50] jjqq2013 commented on #3916
Hi, is there anyone succeeded to send data to kafka?
I am using osquΩery to send data to kafuka, it does not works.

This is my configuration /etc/osquery/osquery.conf ( just copied from osquery document):
I just run it with `osqueryd --verbose`, it does run my sql.

[code]

I'v confirmed the traffic to localhost:31000, nothing come in.
I'v also tried specify kafka option from command line but got

[2018-02-28 04:57] spasam commented on #3916
@jjqq2013 I know few folks from osquery slack who are using it. I think it needs more configuration than that. You need to specify `--logger_plugin=kafka_producer` either in flags file or on command line.

[2018-02-28 05:00] mime-frame opened #4164 "windows_events - invalid JSON in `data` column"
**Issue:**

The `windows_events` table captures invalid JSON in the `data` column.

Namely, occurrences of `\x0A` are to blame

This makes it difficult for downstream systems (like a SIEM) to parse and analyze the results.

**Example:**

[code]

[2018-02-28 05:03] spasam commented on #3916
Re pass-thru configuration from @edenhill above it is trivial to do if only gflags allowed it! gflags AFAIK doesn't allow unknown flags. So we will have to define each and every one of them in osquery. A nice improvement to gflags would be to not error on flag prefix match!

[2018-02-28 06:03] jjqq2013 commented on #3916
thank you very much! It works now. Hope this can added to document.

[2018-02-28 06:08] muffins commented on #4164
@mime-frame yeah this was definitely an issue!  https://github.com/facebook/osquery/pull/3985 resolved this so the next stable release of osquery on Windows shouldn't have this.

[2018-02-28 06:08] muffins commented on #4164
Closing this out for now, feel free to re-open if you like :)

[2018-02-28 06:08] #4164 closed

[2018-02-28 06:56] ageis commented on #4144
@fmanco I've run some apt repositories and as far as I can remember InRelease has always been GET requested even if it's not there. So that's just the error I'm getting. The latter scheme you with Release and Release.gpg is what I've always done too and AFAIK is still valid. Again... Here's the full error on `apt-get update`.
[code]
I uninstalled osquery (which I'd done manually with dpkg) and tri

[2018-02-28 08:05] mime-frame commented on #4164
Nice! When's a new stable release for Windows happening @muffins

[2018-02-28 11:04] thedrow commented on #4144
I'm using the s3 URI directly, should I change it to https://pkg.osquery.io/?
I'm on Ubuntu 17.10.

[2018-02-28 11:06] fmanco commented on #4144
Okay found the problem

from https://github.com/Debian/apt/blob/master/debian/changelog.

So we either need to `404` or provide an `InRelease` file. Thanks for the help, will come back here once it's fixed.

[2018-02-28 11:07] fmanco commented on #4144
@thedrow using https://pkg.osquery.io/ won't make a difference as it is just a `301` to https://osquery-packages.s3.amazonaws.com/.

[2018-03-01 07:20] obelisk commented on #3891
This is the new output from `master`:

[code]

[2018-03-01 20:21] monkykap commented on #4162
I'm using 2.11.2. docker_container_processes exhibits this behavior in reverse, documented i think in another issue. It works on Ubuntu but not OSX.

[2018-03-02 07:50] kemalbayar opened #4171 "Deleting osqueryd.exe (file is open in DHCP client)"
after processed the command choco uninstall osquery, C:\programdata\osquery\osqueryd\osqueryd.exe file is still existed and when I try to delete file, I get the following warning...  What is the relationship between them?

![image](https://user-images.githubusercontent.com/33925821/36888574-1dc1dc26-1e07-11e8-990c-878bb594295d.png)

[2018-03-02 08:17] kemalbayar opened #4172 "deploy: osquery.db and extensions folder permissions are inconsistent"
After osquery.msi installation, related to permissions, the osquery.db folder’s owner is setted as SYSTEM so the folder isn’t accessible by the other users(admins,users...)

but with choco method...

![image](https://user-images.githubusercontent.com/33925821/36889490-3c024a50-1e0b-11e8-8a9a-a45d2bcf4932.png)

[2018-03-02 18:44] lxcode commented on #4059
Ok, rocksdb and thrift are updated, and osquery has been brought up to date. Do note that I found that the build would fail without asio.

[2018-03-02 18:46] muffins commented on #4172
@kemalbayar those permissions for the `Users` group look correct. Users should be able to enumerate the directory, read, and execute, but they should have no write permissions. Can you be more specific about the error or problem that you're experiencing? The osquery database is not something that's _supposed_ to be accessible. What use case do you have for modifying or accessing the DB?

[2018-03-02 18:50] muffins commented on #4171
Interesting, haven't seen the daemon behave this way before. Are you able to reproduce this after a reboot? Can you try restarting your system, installing osquery via chocolatey as normal, and then uninstalling? Do you get the same issue?

[2018-03-02 19:51] bpruce opened #4173 "PID value equals -1 in process_open_sockets using SUDO"
osqueryd running as root is reporting pid=-1 for a majority of open network connections events. If i launch osqueryi running as root and use "select * from proces_open_sockets;"  all of the correct pid values are present.

seems to be the same issue here but it was closed : https://github.com/facebook/osquery/issues/3625

Testing:
If i run curl www.google.com every event thats returned by osqueryd

[2018-03-02 19:53] bpruce commented on #4173
perhaps the issue is an open socket being captured by the query that hasnt completely closed..so half open sockets(scanners for instance since im in aws), or an application that doesnt properly initiate socket close events?

[2018-03-02 20:41] jbussing opened #4174 "Startup Items Discrepancy with Login Items"
Hi,

I am getting a discrepancy between what I observe in the Login Items for a user and what osquery has in the startup_items table. Im also wondering if this could be related to a previous issue (https://github.com/facebook/osquery/issues/3994).

Below is a list of the startup items:
[code]
Below is the osquery result for the same machine's startup_items table:
![screen shot 2018-03-02 at 11 41

[2018-03-02 21:48] fossam commented on #4173
I can confirm, happens on all _released_ versions. I cannot yet confirm this for recent versions where official default packages are not available.

[2018-03-02 23:16] muffins commented on #4164
@mime-frame hopefully soon. I'm a little unsure on that as I haven't been at work for the past couple months, but we'll try to get something cut soon as we don't currently have a stable in 3.X yet.

[2018-03-04 14:17] kemalbayar commented on #4172
what i'm trying to point out that why one method is different from the other one.
for example: the following image shows the status after the OSQuery.msi installation.  By this method,
I can't access to the folder with Admin account. However after choco method, I can access to the same folder with the same account

![image](https://user-images.githubusercontent.com/33925821/36946313-2b901888-1fcc-

[2018-03-05 01:06] theopolis commented on #4059
I'm seeing issues with LLDPD:
[code]
Similar to: https://github.com/HardenedBSD/hardenedBSD/issues/275

For LLDPD:
- Port: https://svnweb.freebsd.org/ports/head/net-mgmt/lldpd/Makefile?view=markup
- `--enable-hardening`: https://github.com/vincentbernat/lldpd/blob/master/configure.ac#L106

For now I'm going to change our builds to include `SKIP_LLDPD`.

[2018-03-05 08:19] kemalbayar commented on #4172
in addition, I think due to above permission situation, I got the error `osqueryd initialize failed: Could not initialize database'

![image](https://user-images.githubusercontent.com/33925821/36964226-01507d2e-2067-11e8-8ffb-6ef0b1805c6b.png)

[2018-03-05 14:14] theopolis commented on #4059
Some changes addressed in: https://github.com/facebook/osquery/pull/4166

[2018-03-05 14:48] kemalbayar commented on #4172
it's weird but today I've encountered a different issue with chocolatey... I installed osquery using choco and I can't access the osquery.db folder due to permission problem. I see that the Folder owner is SYSTEM and there is no problem when I start the osqueryd service but I use the command   \ProgramData\osquery\osqueryd\osqueryd.exe --flagfile=\ProgramData\osquery\osquery.flags --verbose --tls_

[2018-03-05 15:29] kemalbayar commented on #4157
Now I'm using this query: SELECT * FROM windows_events where eventid=4688 OR eventid=1102 OR eventid=4658;

And  I can see 4658 and 1102 event logs in the osquery_results log file but although 4688 events created (which can be seen in the following picture) related 4688 logs aren't written to osquery_results log file

![image](https://user-images.githubusercontent.com/33925821/36983105-91c2d3b2-20

[2018-03-05 18:10] muffins commented on #4157
In that immediate example, are you’d ure you’re running as Administrator? 4688 is a security channel event, as you’ve pictured, but osquery can’t subscribe to Security channel events without privilege, so in your testing ensure that you’re running the shell as admin.

[2018-03-05 18:27] muffins commented on #4172
Yeah the issue here is just that our permissions seem to not be applied in a consistent manner, but this shouldn't cause any issue with the daemon running. The situation you've found with the chocolatey install and then the fail to init the DB is an issue, but again the cause is known. I'll try and get a fix up for the permissions consistency issues, but for the fail to intialize the database folk

[2018-03-05 19:04] jacknagz commented on #4158
@muffins no problem, thanks for getting back to me!

[2018-03-06 05:57] waghi commented on #3379
@theopolis : can I schedule Distributed Queries??

[2018-03-06 06:55] kemalbayar commented on #4157
Well, I login the system using Administrator so it is mean I'm running the cmd with admin privilege. Finally, all the events 1102, 4658 and 4688 are included in Security channel. The problem is that some events fetched randomly by osquery

[2018-03-06 09:21] kemalbayar commented on #4157
just now I did a test.  Select * from windows_events where eventid='1102' OR eventid='4688' ....; all the logs created aren't written to the osquery_results log file but  when I use the command Select * from windows_events where eventid='4688';  I see it in the osquery_results log file.

is this case related to some flags? My flags in osquery.flags file are

--enroll_secret_path=/programdata/osque

[2018-03-06 14:14] kemalbayar commented on #4171
You seem to fixed it.

[2018-03-06 14:16] bpruce commented on #4173
So I did a little more testing here, and I believe there are two unrelated issues. 1 issue relates to osqueryi where including the where clause "where pid=-1" is setting all pids to -1.  That seems like a bug.

The other issue I think is more of a consequence of using open sockets and I would presume listening_ports acts the same way.  I setup a test ubuntu server and installed 2.11.0 as well as l

[2018-03-06 14:33] kemalbayar commented on #4172
Today, I did a test again on this issue... I installed osquery via chocolatey and...
1- I can access to the osquery.db folder by "Administrator" account
2-the owner of the folder is setted as "Administrators" (as groups)
3- the following picture demonstrate it

![image](https://user-images.githubusercontent.com/33925821/37037921-6a6c2e86-2164-11e8-8abf-8a5d3f54130f.png)

[2018-03-06 16:30] fossam commented on #4173
@bpruce does the `ss` command handles these situations correctly?

[2018-03-06 19:58] bpruce commented on #4173
Consider the following:
sudo ss -pet | grep '172.31.16.119' (clipped)

LAST-ACK   0      32      ::ffff:172.31.16.119:58844                   ::ffff:<masked ip>:https                 timer:(on,8.020ms,7) ino:0 sk:69 ---
ESTAB      0      0       ::ffff:172.31.16.119:36222                 ::ffff:<masked ip>:https                 users:(("java",pid=11945,fd=87)) uid:999 ino:55984 sk:76 <->

I think

[2018-03-07 04:13] #4152 closed

[2018-03-07 05:19] fossam commented on #4173
Much of the underlying code seems to have changed in #4024 not too long ago, especially those parts we're having issues with. There doesn't seem to be a tag or a release yet that include those changes. Once available, those tables need to be tested again.

[2018-03-08 08:34] kemalbayar opened #4175 "osquery shell sometimes returns the results in second querying"
the case showing in the picture repeats sometimes when using different queries

![osqu](https://user-images.githubusercontent.com/33925821/37140835-1c671a46-22c4-11e8-82fc-2f99a8c2ae34.png)

[2018-03-08 15:59] muffins commented on #4175
Can you give us more information when you're creating issues? Getting really vague problem statements makes it a bit difficult for us to triage what issue you might be having. Can you throw us what version of osquery you're running and on which platform and version? Based off of you're output this is looking like Windows but I can't repro this, what version of Windows and osquery are you running?

[2018-03-08 16:05] muffins opened #4176 "tables: file table on Windows always returns 0 for uid and gid"
We leverage `stat` on posix and Windows for obtaining file information. This function on Windows always returns `0` for the uid and gid fields, thus we're not getting ownership values for filesystem queries on Windows. See https://msdn.microsoft.com/en-us/library/14h5k7ff.aspx for more information.

[2018-03-09 01:14] fossam opened #4179 "docker socket behind a proxy does not return data"
In cases where the Docker socket is fronted by a proxy that does not return with HTTP/1.0 osquery does not return data. The check is likely in the following line:
https://github.com/facebook/osquery/blob/1e432dcd4c287807f37d7fe28a8ae9a2316e8af1/osquery/tables/applications/posix/docker.cpp#L86

For example, we've seen the following behavior:

Would it be possible to create a workaround where the ``

[2018-03-09 01:16] spasam commented on #4179
Forgot who it was, but someone on slack had same issue. We can relax the HTTP/1.0 response assertion. Although I have no idea why HTTP/1.1 is returned for 1.0 request :laughing:

[2018-03-09 01:22] fossam commented on #4179
That was me.
Unfortunately it's a closed source app that behaves this way - getting it changed in a timely manner would be difficult at best.

[2018-03-09 01:23] spasam commented on #4179
Yep, that is what I figured. Unless you already fixed docker.cpp, I can take a stab it this.

[2018-03-09 01:27] fossam commented on #4179
It would be greatly appreciated if you do.
Hopefully it will get into upcoming release.

[2018-03-09 05:37] fmanco commented on #4144
@ageis @thedrow This should be fixed, feel free to reopen in case you have further problems.

[2018-03-09 05:37] #4144 closed

[2018-03-09 08:11] kemalbayar commented on #4176
for example..:

select * from users;

![image](https://user-images.githubusercontent.com/33925821/37196946-cd20e46e-2389-11e8-9507-e560d42f1ab5.png)

select * from processes;
output of that query contains -1, 0 and 544 as UID and GID

for these reasons, the following query doesn't return any result
select *,username from processes JOIN users USING (uid);

[2018-03-09 08:19] kemalbayar commented on #4175
osquery version: 2.11.2
build_platform:windows
build_distro:windows10 (but it's running on windows server 2016! / virtual environment)
and...
![image](https://user-images.githubusercontent.com/33925821/37197394-b020a65e-238b-11e8-9300-705b4f3d107a.png)

[2018-03-09 16:14] spasam commented on #4179
https://github.com/facebook/osquery/pull/4180

[2018-03-09 17:35] muffins commented on #4175
@kemalbayar are you able to repro this issue with any other tables? Or is this only with the `etc_services` table?

[2018-03-09 20:03] obelisk opened #4183 "tests: Add test for #4182"
#4182 was merged without an associated test. This issue is open to track the creation of a test for that bug.

[2018-03-09 20:12] muffins opened #4184 "feature: extend file/extended_attributes table to include process/binary architecture"
In office hours it was requested that we look into extending a virtual table for detecting 32 bit applications running on MacOS, as the deprecation of 32 bit is on the horizon for MacOS. This table feature could also be extended to Linux/Windows, as this information would be useful from a vulnerability management perspective.

[2018-03-09 20:14] spasam commented on #4179
This can be closed now!

[2018-03-09 20:36] muffins opened #4185 "carver: include a "manifest.json" for carves"
The file carver is pretty neat, and really good at grabbing lots of files, however it can sometimes be confusing _what_ all files you got.

It'd be pretty awesome if the carver would bundle up a "manifest.json" detailing what files were carved as well as metadata about each of the carved files.

[2018-03-09 20:42] muffins opened #4186 "packages: set stable package to be latest stable tag in GH"
Grabbing the osquery package from:

https://osquery-packages.s3.amazonaws.com/darwin/osquery.pkg

Will get the _latest_ tag cut for osquery, which is different from the latest _stable_ version of osquery. It was requested that we look into either pointing this link to be the latest stable, or possibly adding another hard coded link, possibly something like https://osquery-packages.s3.amazonaws.com

[2018-03-09 20:45] muffins opened #4187 "tables: Windows services table not always returning results, potentially stalling daemon"
The Windows services table has potentially been causing a variety of issues on Windows. We have instances of the table not always returning results on snapshot queries, but potentially also *stalling the daemon on live/on-demand/distributed queries*

[2018-03-09 22:44] keeleysam opened #4189 "feature: support for BSD file flag information"
We talked about this in office hours today, but I did a bit more poking around.  I would like to see the file table extended to have information on BSD file flags, which are most often seen on macOS as "locked" or "hidden" files, commonly modified either through the Finder or `chflags`.

Example here:
<img width="377" alt="screenshot 2018-03-09 16 42 35" src="https://user-images.githubusercontent.

[2018-03-09 22:53] keeleysam commented on #4184
It'd be great if this info could be returned in two different places:

1. In the `processes` table, returning the architecture of each currently running process.
2. In the `file`, `apps`, or similar table, returning a list of the supported architectures for an executable/application.  On macOS, some could currently include as many as four (`ppc`, `ppc64`, `i386`, and `x86_64`).  Maybe `arm64` in t

[2018-03-11 02:45] muffins opened #4190 "perf: Windows driver table takes very long time to run"
The drivers table on Windows performance is pretty bad. I did some profiling of CPU consumption, and on my quad core i5 skylake it takes 25% of the CPU of all cores for abou 7 seconds. The culprit specifically seems to be that we're calling `SetupDiBuildDriverInfoList` for every device, as this function call seems to take the longest to complete.

![capture](https://user-images.githubusercontent.c

[2018-03-11 02:46] muffins opened #4191 "watchdog: worker processes not being killed during high CPU consumption queries"
In particular, on single core Windows systems we've seen queries take up ~80 to 90% of the CPU for > 10 seconds, and the process not be killed by the watchdog. Will fill in with more details when I can get some good screen shots of reproducing.

[2018-03-12 07:00] kemalbayar commented on #4175
it happens not only etc_services table but also happened with a few table (i don't remember the names)

[2018-03-13 11:53] kemalbayar commented on #4172
@muffins  also there is a different but related issue.

I installed osquery on Windows 10 system using the latest osquery.msi from the site, after the installation some Deny entries exists in permissions as shown in the picture.
In this state, without changing the permission entries manually, osquery.db folder cant be accessible

[2018-03-13 20:25] fossam opened #4193 "configuration of required files for the magic table"
As of default package of 2.11.0 for ubuntu, the _magic_ table does not work. osquery is looking for the required files in _/usr/local/osquery/Cellar/libmagic/5.29_101/share/misc/magic.mgc_ which rarely exist by default on end hosts.

The ask here is two fold:
* make it possible to configure the path in compile time (in osquery/tools/provision/formula/libmagic.rb, for example)
* make it possible to

[2018-03-14 05:06] muffins commented on #4172
Right that’s the expectation though, as the MSI uses Dent-Writes currently, but that shouldn’t matter as the goal of these permission sets is just to ensure that no lower privileged uses have access to modify the DB.

[2018-03-14 05:08] muffins commented on #4175
Ok, this will be rather difficult to diagnose and triage if we can’t reproduce, so definitely let us know if you figure out which other tables this happens on. In the mean time we will see if anyone else has experienced this and see if we can reproduce ourselves.

[2018-03-14 10:31] kemalbayar commented on #2572
@muffins  I can't run osuqery on windows 7 and windows server 2008

I got the error shown in the picture (1) and when I corrected the permission issue on the folder then I entered the command \programdata\osquery\osqueryd\osquery.exe --install  but I got the error "isnt compatible with this version of windows"

![image](https://user-images.githubusercontent.com/33925821/37396950-6f118d82-278b-11e8

[2018-03-14 12:30] yesoreyeram opened #4194 "Standalone osqueryi installation unable to query shared folder / folder accessed through full path"
Hi, I am beginner with osquery. I am trying to get filecount from a remote folder (windows to windows) using osqueryi.exe

My query is very simple.

       select count(*) from file where file.path like "\\some-remote-server\remote-folder\%"

But i couldnt get the results back. I do have access to the server and manually able to navigate remote folder. How can i fix the query? Or is this not possi

[2018-03-14 13:02] yesoreyeram commented on #4194
One more screenshot to help. In the below case my expected output is 5 ( file count including subdirectories )

![image](https://user-images.githubusercontent.com/153843/37403724-b1af7310-2787-11e8-9186-ea18639294af.png)

[2018-03-14 17:46] muffins commented on #4194
Interesting, I don't think we had intended for queries against the file table to work against remote systems, so yeah there could be something up with how File Globs work via the Windows APIs. This _might_ not actually be possible for us to get, and I don't believe it's something we intended to be supported. I'll see if I can find a quick and easy solution to this and get back to you.

[2018-03-15 06:38] rkgrep commented on #2028
Hello! Is this going to be ported for OS X?

[2018-03-15 18:02] fossam commented on #4104
Clarification: apt_sources does not return anything in the currently published releases (2.11.0)
However, it does work on 3.1.0-50-g06117da0 .

[2018-03-15 18:24] fossam opened #4196 "request for new table: yum_repos"
Akin to _apt_sources_ table, expose the configured yum repositories from /etc/yum.repos.d/ and /etc/yum.conf .

[2018-03-15 21:04] VenturaAtDD opened #4197 "TLS Logger Plugin and TLS Certs on MacOS 11.x High Sierra"
The TLS Logger plugin will not verify TLS certificates when it is running on MacOS 10.13 High Sierra. I'm running it on 10.12 and 10.13 with identical configuration files (see below).

Without the "tls_server_certs" option set, it should use the OS's native features for verifying the certificate. However, verification fails on MacOS 10.13.

"#   osqueryd --verbose
I0315 15:45:53.869323 2368070464

[2018-03-16 08:21] jjqq2013 opened #4198 "How to output message to kafka as json instead of a string value of message property?"
HI,
When use kafka output, the result sent to kafka is:

[code]

You can see all actual information is stored as a string in message property.

How can configure osquery to output a json object inside it?

Is there a limitation that osquery plugin framework can only let you fill the string in message property instead of expand it as a json sub object?

[2018-03-16 09:08] kemalbayar commented on #2572
@muffins  I managed to install osquery on windows 7 64 bit and Windows server 2008 R2 64 bit but I couldn't install it on Windows Server 2008 SP2 32 bit (Not R2,64bit)

![image](https://user-images.githubusercontent.com/33925821/37512203-81fa88d0-2912-11e8-82dd-4a0d66d4324d.png)

[2018-03-16 10:10] kemalbayar commented on #2572
https://github.com/facebook/osquery/issues/2856
i think it's still valid so couldn't install on 32 bit OS ?

[2018-03-16 14:10] kemalbayar opened #4200 "FR: osqueryd service recovery"
could be made an improvement ? It might be useful

![image](https://user-images.githubusercontent.com/33925821/37524948-730fd422-293c-11e8-8b3a-23fa273d0df3.png)

[2018-03-16 14:48] muffins commented on #4200
That is a good question. My immediate thoughts on this are that a typical deployment already makes use of the watchdog, which itself has recovery mechanisms for the worker. If the Windows service is failing to start, it's most likely the case that there's unsafe file permissions or some other misconfiguration is preventing the daemon from starting, and thus the attempts at a service recovery would

[2018-03-16 14:50] muffins commented on #4198
Hey there! This might be a question better [answered in our Slack](https://osquery-slack.herokuapp.com/). Hop in and throw this to the #general channel and you should get some good responses. I'm going to close this out for now, but feel free to re-open if you're still having issues :)

[2018-03-16 14:50] #4198 closed

[2018-03-16 15:09] fmanco commented on #4104
@fossam thanks for reporting this is fixed on master. I believe #4034 fixed this problem. I'll close this issue now but feel free to reopen if you have more questions.

[2018-03-16 15:09] #4104 closed

[2018-03-16 15:45] #4179 closed

[2018-03-16 16:11] #4197 closed

[2018-03-18 09:09] r3doubt opened #4201 "osqueryd initialize failed: Could not create file: /var/osquery/osqueryd.pidfile"
3.1.0 installed via Brew
https://osquery.readthedocs.io/en/stable/installation/install-osx/

Directions are out of date, don't seem correct or to correspond to the pathways for Brew install (3.1.0).  There is no /var/osquery to use for symlink or the .conf.  These are in /Cellar.

Got it working for osqueryi, but osqueryd still failed due to pidfile.

Configuring osqueryd received

Found https://g

[2018-03-18 09:12] r3doubt commented on #4201
I guess that should be without resetting --pidfile=path since I used /var/osquery.

[2018-03-19 10:02] kemalbayar commented on #4200
is osqueryd.exe controlled by the osqueryd service? (the service runs the command \programdata\osquery\osqueryd\osqueryd.exe --flagfile=\programdata\osquery\osquery.flags in the background).
If the service fails any way, osqueryd.exe (and the watchdog) does not run anymore. therefore isn't it a need to configure service recovery?

[2018-03-19 12:47] kemalbayar opened #4202 "osqueryd service automatic initialization"
it has been happening some times osqueryd service isn't started despite it set as automatic.
not regular situation but some times happening.
Not regular situation but some times happening so it's need to be started manually by services mngmt console

![image](https://user-images.githubusercontent.com/33925821/37595653-9b0dc506-2b8a-11e8-91d5-5e4fc3796ddd.png)

[2018-03-19 16:58] muffins commented on #4202
@kemalbayar can you verify that the daemon starts via the command line?
[code]
Additionally, can you post the output of `sc.exe qc osqueryd` so we can see the details of the service? How did you install the osqueryd service?

[2018-03-19 19:19] fossam opened #4203 "url for libdpkg gives 404"
https://github.com/facebook/osquery/blob/c4c5385253f7c86d3e84667b8207abaf0d93478a/tools/provision/formula/berkeley-db.rb#L7

The url returns 403 so the build with OSQUERY_BUILD_DEPS=True fails.

[2018-03-19 23:26] sanghyunhong opened #4205 "'process_open_sockets' table does not show the sockets opened inside a docker container"
Hello Guys,

It seems like the 'process_open_sockets' table does not include the information about the sockets opened at docker containers. The problem can be reproduced by the sequence below:

- Install the osquery and docker at an AWS EC2 instance.
- Run the Ubuntu container by the command `docker run -it ubuntu`
- Run the `osqueryi --json "select * from process_open_sockets" > <state-before>`
-

[2018-03-20 01:52] theopolis opened #4206 "rapidjson: query results migration issue after 3.1.0+"
Results stored with PTREE use the improper JSON form:
[code]
These will need to be converted to proper JSON.

One method, use a trace variable in the DB, `resultsversion=1` if you don't find this then run the migration, load the results using PTREE, then for each row place them into a RapidJSON object and finally write out the results.

[2018-03-20 07:15] kemalbayar commented on #4202
to do your instructions:

first, I stopped the service
I ran the command \ProgramData\osquery\osqueryd\osqueryd.exe --flagfile=\ProgramData\osquery\osquery.flags (also path is wrong above, no problem)
after a while, I got the error "E0320 00:06:36.681717  4896 scheduler.cpp:80] Error executing scheduled query file_events: Error running query: no such table: file_events"  but this is a different is

[2018-03-20 14:09] jjqq2013 opened #4208 "packs.cpp:190 Query has invalid interval: rpm_packages-snapshot: 7776000"
hi, when I use snapshot query with intervel 7776000 (90days), it complains error:
[code]

Seems interval's max value is near 497760 (5 days)

I am using the latest version 2.11.2 in centos7.4

/etc/osquery/osquery.conf
[code]

[2018-03-20 14:41] kemalbayar opened #4209 "querying IP"
There are three table to get the IP of the agent; interface_addresses and Interface_details and routes table but simply I want to add the IP addres(es) of the each agent to the log(json).

to do this, I used decorator feature but I have to use such a query like that
select address as IP_Address from interface_addresses where address like '10%';
because the tables contains mixed content so I have t

[2018-03-20 14:46] muffins commented on #4209
@kemalbayar try using a join on the `interface` column:
[code]
We also have the #sql channel in the slack, where this question might get answered faster :)

[2018-03-20 14:46] #4209 closed

[2018-03-20 14:47] kemalbayar commented on #4209
@muffins  :)

[2018-03-20 20:52] obelisk commented on #4208
Heyo, the max interval is defined here: https://github.com/facebook/osquery/blob/483fbbb594fe7172d6c008e1a018eb9c107ba99e/osquery/config/packs.cpp#L42

Which is a week. There isn't really a hard reason for this but we do need some max. Out of curiosity however, why do you want to run that query so infrequently?

[2018-03-20 23:53] muffins opened #4210 "darwin: tests fail on macos 10.13"
This issue _might_ be a duplicate, so let's feel free to close if it is, but test runs fail on MacOS 10.13, which is known as we only support up to 10.12, however let's use this issue to track updating our build pipeline to support 10.13 and APFS:

First:
[code]
Second:
[code]

[2018-03-21 00:06] #4190 closed

[2018-03-21 10:10] fmanco commented on #4210
Hey, yeah #4139 is reporting this, so I'll close this one.

[2018-03-21 10:10] #4210 closed

[2018-03-21 10:18] fmanco commented on #4139
I think a reasonable solution here might be to accept both versions of the header. We could query the filesystem being used but I'm not sure that's worth it in this case.

[2018-03-21 11:23] kemalbayar commented on #4157
@muffins  is there any progress about the case?

I've tested the queries on a different client running windows server 2012 (previously was server 2016) but result is same.   I'm administrator on the related hosts and I see all the related event id being created in event viewer(4658,1102,4663...) but only some of related event id are dropping into osquery_results log file.

Select * from windows_ev

[2018-03-21 18:44] muffins commented on #4206
#4207 addressed this.

[2018-03-21 18:44] #4206 closed

[2018-03-22 03:22] jjqq2013 commented on #4208
@obelisk thank you.

I want periodically report a complete list of deb_packages, without having to applying the effects of added and removed rows to reconstruct the current state.

Besides, I do not know if there is a method to overwrite data in elasticsearch instead of append-only,
so to avoid waste of storage, I prefer to catch snapshot of deb_packages per 3 months.

Do you have any idea of avoi

[2018-03-22 03:38] jjqq2013 commented on #4208
Oh, I will try to use logstash to send data to elasticsearch with fixed document id consists of query name and table key so data will always get overwritten without storage waste.

But anyway, I think it is better to maintain a longer period, at least we need write a comment in manual.

[2018-03-22 03:42] jjqq2013 commented on #3352
please also include millisecond in differential and snapshot results.

[2018-03-22 15:05] kemalbayar commented on #4157
@obelisk  @muffins

I also tested a different case related to this issue

I got all the logs with related event ids on Kolide UI using a distributed query.
also no problem when I use the same query in Osqueryi (shell)

When i use the same queries in a pack, the osquery_results log file not contains the related events, although I see the related event ids was generated in event viewer's security ch

[2018-03-23 03:20] muffins commented on #4157
@kemalbayar can you give us the details of the scheduled query, as well as config flags you’re using? Are you seeing any warning or info verbosity around events expiring? It could be that you’re overflowing the event limit of 50k. How frequently are you querying windows events?

[2018-03-23 12:18] theopolis commented on #4208
Someone can expose that time as a flag, then you can override the max with your configuration.

[2018-03-23 12:44] kemalbayar commented on #4157
I'm sure this case isn't related events_max flag. if so, I would got the warning like you mentioned. (previously, I got that warning so i know)

as I mentioned before, I see some events immediately in osquery_results just after it's dropped in event viewer. This happening randomly, some event ids are OK but some not

--enroll_secret_path=/programdata/osquery/enroll_secret.txt
--tls_server_certs=/p

[2018-03-23 13:10] kemalbayar commented on #4157
@muffins  in addition to above, no problem with the query select * from windows_events;
when the query is this, all the event ids are dropping into the log file, but when the query is either "select * from windows_events where eventid=xxxx OR eventid=xxxxx OR eventid=xxxxxx";  or "select * from windows_events where eventid in (xxxx,xxxx,xxxx,xxxx)";
the problem is happening

[2018-03-23 15:32] Ngo-The-Trung commented on #4205
I think (haven't verified) it's because the docker daemon launches the docker process as root and thus their resources can't be seen by user processes.

[2018-03-26 13:42] micheal-o commented on #3999
I am working on this. @theopolis I sent you a message on slack, need to clarify something.

[2018-03-26 21:47] ghost opened #4220 "sshd child not present in process_events"
I am using the osquery compiled from git, the second sshd process is created when a user starts a new ssh session successfully.
The process with pid 2936 is not a thread but a new forked, childred of 2876.

root      2876  2876  0.0  0.1 107696  7220 ?        Ss   13:48   0:00 sshd: user1 [priv]
user1     2936  2936  0.7  0.0 107696  3544 ?        S    13:48   0:00 sshd: user1@pts/2

osquery> sele

[2018-03-26 23:30] muffins opened #4221 "bug: windows_crashes table crashes on Windows with divide by zero exception"
Able to get a crash on Windows with a specifically crafted crash dump on Windows. Getting a divide by zero on calling `GetContextStackTraceEx`. Looks like somethings wrong with the parameters being passed in for specific crashes.

Running on Server 2012 R2

edit: this affects osquery version 2.11.2+

[2018-03-26 23:31] muffins commented on #4221
Looks like this might be a discrepency between mini crash dumps and full.

[2018-03-26 23:48] muffins commented on #4221
This could also be related to querying stack traces on crash dumps where strack trace information wasn't provided.

[2018-03-27 10:41] mike-myers-tob commented on #619
FYI, for #1521 in the above list (a `pf` table), we developed this functionality in an extension. But ours  works for Linux and Windows too (referencing the corresponding native firewalls in each). https://github.com/trailofbits/osquery-extensions/tree/master/firewall

[2018-03-27 18:10] marpaia opened #4223 "Cache the config content persistently unless it is older than N seconds"
## Proposed Solution

Modify the implementation of [`osquery/config/config.cpp`](https://github.com/facebook/osquery/blob/65a85799f5e2fb41c56aa43607f6eb5389cac63d/osquery/config/config.cpp#L431) to persist the config to RocksDB upon successful acquisition and use that config if config acquisition fails in the future. Add a `--config_offline_expiry` flag (name tbd) to control how old of a config sh

[2018-03-29 02:19] jjqq2013 opened #4227 "no result from "select * from startup_items""
Is there anyone really get any result from table "startup_items" in linux now?

I am sure I'v ever successfully called "select * from startup_items;" from osqueryi and get several line output, such as a job from cron.

But now, it output nothing.  Both for 2.11.0 and 2.11.2, ubuntu xenial or centos7.4.

[code]

[code]

Any idea?

[2018-03-29 19:19] #4139 closed

[2018-03-29 21:57] muffins opened #4235 "bug: Windows service deadlocks on thread exit"
An issue we've experienced internally is that if the osquery service is restarted very quickly, say with `Restart-Service osqueryd`, and one has the Windows Event Log publisher turned on, there seem to be residual osquery processes that get left behind and prevent a new instance of the service from coming back online. I'm currently triaging, but folks can work around this by _not_ using `Restart-S

[2018-03-29 22:05] muffins commented on #4235
I believe the bigger issue here is why didn't the worker kill itself due to lack of watcher.

[2018-03-30 11:43] uncletimmy3 commented on #4172
@muffins It's a bad idea and useless to use Deny_rules in Windows OS for SYSTEM and BUILTIN\Administrators, beacsuse they have rights to become owners of any objects in Windows OS.
It would be better if permisson inheritance is disabled and necessary rights are granted. For example:
![default](https://user-images.githubusercontent.com/34276679/38136645-4ecc457a-3439-11e8-96d1-57abdde08eff.JPG)

In

[2018-03-30 11:57] kemalbayar commented on #4172
Deny is always the highest priority so I think it's possible to manage without Deny entries

[2018-03-30 14:10] theopolis opened #4241 "CentOS 6 Jenkins hosts failing"
The CentOS 6 CI hosts were failing with:
[code]

This is because the CA-Certs on these machines are from 2015. During provisioning they need to update all of their packages, including the certs. Adding a `sudo yum update -y` on first run (host profile configuration in Jenkins) fixes the issue.

[2018-03-30 14:10] #4241 closed

[2018-03-30 14:13] theopolis opened #4242 "Windows 2016 Jenkins hosts failing"
The Windows 2016 hosts are failing with:
[code]

You can find these errors by using Remote Desktop into a Windows host after running a manually scheduled build job. You need to do this from FB IP space and know a few of the Jenkins credentials. When on the machine look at: `:\ProgramData\Amazon\EC2-Windows\Launch\Log\UserdataExecution.log`.

This shows:
[code]

This seems to fix the issue: https:/

[2018-03-30 14:13] #4242 closed

[2018-03-30 14:14] theopolis commented on #4242
The root cause was updating the AMIs for these machines (this is required every quarter as the old marketplace AMIs are removed). The new ones may have slightly different configurations, but this is the first that has caused errors.

[2018-03-30 14:17] alessandrogario commented on #2987
I was looking at this issue and made a small change to the table so that it still provides secure signature validation while also allowing the user to skip resource checking.

I have added a hidden column called **hash_resources** that can be used to select which behavior to adopt when querying the table. It is by default set to 1 to avoid breaking changes.

What do you guys think about this?

[co

[2018-03-30 14:23] kemalbayar opened #4243 "osquery.flags table: values aren’t matching with currently active values"
when I run the query  select * from osquery_flags;
I noticed that some columns isn't matching with my current configuration in osquery.flags

for example: for Windows_event_channels,

default value
System,Application,Setup,Security and value

value
System,Application,Setup,Security and value

but my current config is that: Windows powershell, Security in osquery.flags file

[2018-03-30 15:55] muffins commented on #4243
@kemalbayar can you verify that osquery is actually loading up your flagfile? Seems like osquery might be having an issue parsing out the values you've set. Further, can you keep questions regarding your deployment to Slack? If this really is an issue, let's iron out the details in Slack first, and cut a GH issue regarding the actual problem.

[2018-03-30 15:58] muffins commented on #4243
Didn't mean to close that out, my apologies. Can you verify that osquery is actually parsing your flags? If you're seeing different values in the osquery flags table it's likely there's something wrong with your flagsfile.

[2018-03-30 16:27] kcreyts commented on #2987
In my opinion, this is a great improvement over the two-table solution. No
flags, just changes to the query.

On Fri, Mar 30, 2018 at 7:17 AM Alessandro Gario <notifications@github.com>
wrote:

--
Kyle Creyts

[2018-03-30 16:35] groob opened #4244 "joining users table has no effect on preferences table."
It appears that even if I specify the username with the preferences table, osquery is not using the CFPreferences table API correctly.

Here's a screenshot that illustrates the issue:
<img width="838" alt="screenshot 2018-03-30 12 22 59" src="https://user-images.githubusercontent.com/1526945/38145181-07c377b6-3416-11e8-95c0-b52932b2291a.png">

[code]

[2018-03-30 16:39] zwass commented on #2987
I'm on board with the proposed changes as well. Thank you!

[2018-03-30 16:48] groob commented on #4244
If I enforce the preference with a profile, then the value is read correctly.

[code]

[2018-03-30 17:38] muffins commented on #2987
+1, this sounds like a good solution to me!

[2018-03-30 18:03] clong commented on #4220
I'm not a Linux internals expert, but I suspect this could be happening if the child process is being spawned via the fork syscall, rather than execve which is the only process-based syscall that osquery monitors.

[2018-03-30 18:08] clong commented on #4174
@jbussing which version of osquery is this happening with?

[2018-03-30 18:11] clong commented on #4149
@cocowalla can you share your config? Are you testing in osqueryi or just using the daemon + config?

[2018-03-30 19:26] muffins opened #4245 "feature: extended process_open_sockets table state column to MacOS and Windows"
the `state` column for the process open sockets table is currently only available in Linux. This would be a valuable column for MacOS and Windows as well.

[2018-03-30 19:28] cocowalla commented on #4149
@clong I think the relevant parts of my config were in my OP, but I've copied the whole thing to [this gist](https://gist.github.com/cocowalla/564163fee44d39b67cc1a14e4a5b3724). I did try playing around with the settings, but always got the same result.

I put it aside when I opened this issue, but I recall trying both osqueryi and the daemon, with the same results.

[2018-03-30 21:02] muffins commented on #4227
This is happening for me also on Ubuntu 17.04

[2018-03-31 16:57] n0way0ut commented on #4220
yes, this seems to be the issue, it is just fork and not fork+execve.
I should find a workaround to monitor sshd. :)

[2018-04-01 15:00] groob commented on #4030
I was playing with this in post processing and was wondering where I should attach the hashes. Should they be right next to the row? Should they be somewhere else? Adding them as separate objects under `diffResults` appeals to me. Here's an example:

[code]

so `diffResults.crc32.added[0]` corresponds to `diffResults.added[0]` and so on.

@NickTitle, @theopolis what do you think?

After playing wi

[2018-04-02 10:04] kemalbayar opened #4250 "process_open_sockets table state column"
the table doesn't contain 'state' column, so it's not seen 'established' connections on Windows OS.
it may be useful

[2018-04-02 12:04] kemalbayar commented on #4243
I noticed that the query 'select * from osquery_flags', reads the 'osquery.flags.default' flag file.
Steps I've taken:
I copied osquery.flags file as osquery.flags.default and I noticed the situation when I ran the query again

[2018-04-02 15:33] muffins commented on #4250
Hey @kemalbayar, thanks for opening, I actually already cut an issue for us to track in  #4245. I'm going to close this out and let's add to the discussion there. Thanks!

[2018-04-02 15:33] #4250 closed

[2018-04-02 16:18] groob opened #4251 "investigate schema changes to log json in 3.x"
Following up from a conversation in the #core channel in slack.

I'm playing with 3.2.0 and I'm seeing that column values are still always strings. Is that going to change with RapidJSON?
For example, (with 3.2 osquery)

[code]

`uid, gid, uid_signed, total_seconds` are all BIGINT columns, yet the json for all the rows shows these as a map of strings.

Is the intention for 3.x to address the JSON

[2018-04-02 16:36] zwass commented on #4251
And if the types do change, will proper `null` values be introduced?

[2018-04-02 16:56] mcburrlin opened #4252 "Python path hardcoded on "python_packages" table for Linux (and partially macOS)"
In the "python_packages" table, "kPythonPath" (Linux platform) is hardcoded to python2.7 path.
https://github.com/facebook/osquery/blob/f6d077cbf7e1f60eef06ccdaf568f25971d178e9/osquery/tables/system/python_packages.cpp#L33-L40

It looks like Darwin & Windows dynamically generate, although the Darwin logic assumes you're using a Python binary located in:

https://github.com/facebook/osquery/blob/f6

[2018-04-02 23:49] obelisk commented on #4251
I believe all row values are staying as strings because the underlying datatype (Row) is a std::map<std::string, std::string> which is what is passed to our RapidJSON serializer.

[2018-04-03 15:25] Ngo-The-Trung commented on #4227
The table is [empty](https://github.com/facebook/osquery/blob/master/osquery/tables/system/linux/users.cpp#L88)

[2018-04-03 17:45] oligarx commented on #4172
Does anyone have a proper work-around for this issue? Can't get the service to work

[2018-04-04 00:33] jbussing commented on #4174
The osquery version presenting this issue is 2.11.2

[2018-04-04 01:38] Infinisil opened #4257 "Compilation failure with NixOS"
I'm trying to update osquery for NixOS but I'm getting some errors when compiling:

    /build/source/osquery/utils/aws_util.h:197:54:
      error: invalid initialization of reference of type 'std::__cxx11::string& {aka std::__cxx11::basic_string<char>&}'
      from expression of type 'Aws::String {aka std::__cxx11::basic_string<char, std::char_traits<char>, Aws::Allocator<char> >}'
        Status

[2018-04-04 01:43] Infinisil commented on #4257
Ping @cstrahan as he was the one who initially packaged (https://github.com/NixOS/nixpkgs/pull/27347) osquery for NixOS, the build is however broken now. @cstrahan: To see whether your patches were necessary with the new major version, I started with a fresh nix expression, it seems to not require them. I also needed to fix the rocksdb_lite package (see https://github.com/NixOS/nixpkgs/pull/38415)

[2018-04-04 02:21] spectejb opened #4258 "Clarification Request - Are contributions licensed under GPLv2 ?"
"By contributing to osquery, you agree that your contributions will be licensed under both the LICENSE file and the COPYING file in the root directory of this source tree. "

Am I interpreting this correctly to mean that any contributions made to osquery will be licensed under Apache 2.0 and GPLv2?  If so, can you help me understand how the project can be Apache 2.0-licensed when ultimately includ

[2018-04-04 08:02] erdarun opened #4259 "FIM Configuration refresh interval doesn't setup watcher for new files, so inotify CREATED file event doesn't gets reported"
FIM Configuration designed to refresh only when there are changes in comparison to existing configurations.

Say during OSQuery startup config pull has files that are not created then inotify watchers will not be setup for those files initially. Later during config refresh interval files got created and available but inotify watchers will not be setup for those new files during config refresh sinc

[2018-04-04 08:11] erdarun opened #4260 "FIM didnt report inotify DELETED file event whenever watched file removed"
OSQuery FIM existing functionality doesn't catch inotify DELETED file event.

When existing watched file removed from system using 'rm' command, OSQuery only reports ATTRIBUTES_MODIFIED file event it doesn't catch DELETED file event.

I guess since watcher gets deleted OSQuery not able to catch/report DELETED file event.

Please check and revert.

[2018-04-04 13:30] saylid opened #4261 "windows: distributed query"
distributed query, "select * from programs" is not returning any result, where as if I run same query using osqueryi it returns results in very few seconds.

[2018-04-04 13:37] RaulMartinPineda commented on #302
Hi.
Any information on whether osquery already supports log rotation natively?
Best Regards.

[2018-04-04 22:44] fmanco commented on #4205
Hi @sanghyunhong, apologies for the delay.

What version of osquery are you using? Sockets open inside containers are in their own network namespace. Until recently osquery wasn't looking into those but that should be functioning in the latest version.

If this is not working with 3.2.2 please let us know.

[2018-04-05 04:21] muffins commented on #4261
@saylid this sounds like it might be more of an environment setup issue. Can you give us more information regarding what backend you're using?

[2018-04-05 14:38] muffins commented on #4261
@saylid you might wanna ask the folks in #kolide on Slack, or even try cutting an issue on the [Kolide github](https://github.com/kolide/fleet/issues). Can you paste your sample configuration and your distribtued query that you're attempting to run?

[2018-04-05 14:39] muffins commented on #4260
@erdarun can you give us more information about your setup? What operating system are you running this on and what version of osquery?

[2018-04-05 14:40] muffins commented on #4259
Similar to your other FIM issue, can you give us more information regarding what platform you're running on, version of osquery, etc..

[2018-04-05 16:08] groob commented on #4261
This is the issue in fleet I believe https://github.com/kolide/fleet/issues/1735

If there's an issue with distributed query, we need to see logs. I'm happy to help troubleshoot either in the fleet issue above or in osquery slack before deciding there's a issue with osquery itself. @muffins feel free to close this issue so we can troubleshoot upstream.

[2018-04-05 16:17] fossam commented on #4196
This looks awesome. Can't wait for a new tag. Thanks!

[2018-04-05 17:31] muffins commented on #4258
@spectejb @theopolis might be able to correct me here if this is wrong, but contributions to the osquery project are licensed under _both_ Apache 2.0 and GPLv2, and upon _using_ the project code you _decide_ which licensing you'd like to use and move forward with that. I know we have this documented somewhere but I haven't been able to track that down.

[2018-04-05 17:32] muffins commented on #4257
Ah, we currently have an issue open to upgrade the AWS package that we have, and that looks like it might be what's wrong here.

[2018-04-05 21:01] Jackbennett commented on #4261
@saylid put the semicolon at the end of the distributed query, if that works add to [my fleet issue](https://github.com/kolide/fleet/issues/1712)

[2018-04-06 01:10] spectejb commented on #4258
Thank you for the quick response, @muffins !

I did a quick search about the license compatibility and found [this site](https://www.apache.org/licenses/GPL-compatibility.html) which includes a lot of helpful info on the topic, including the following:

"The ASF will not dual-license our software because such licenses make it impossible to determine the conditions under which we have agreed to col

[2018-04-06 03:28] Infinisil commented on #4257
@muffins As already mentioned, switching to 1.2.7 doesn't change any of the errors, and looking at [aws-sdk-cpp's changelog](https://github.com/aws/aws-sdk-cpp/blob/master/CHANGLOG.md) this makes sense, as there weren't any related breaking changes.

Hoping somebody has some slight clue as to what could cause this error.

[2018-04-06 08:26] saylid commented on #4261
@Jackbennett tried by putting semicolon, that didn't work.

[2018-04-06 08:35] saylid commented on #4261
@groob yes i am facing the same issue you mentioned. It is the same like After querying 'services' it doesn't call to distributed/write, just continue with distributed/read. After this, any table I query will not call distributed/write again.
@muffins As this is closed where will i get the updates about this issue?

[2018-04-06 10:09] Apptestingrd opened #4264 "Windows: GID column consistency across user, groups, processes tables"
I asked that question in slack channel but I couldn't find an answer
it seems like an inconsistent situation

![users and processes table inconsistency](https://user-images.githubusercontent.com/38127874/38415682-f805d802-399a-11e8-8e73-2a7f49deaa4f.png)

[2018-04-06 14:58] muffins commented on #4261
@saylid we're already tracking an issue with distributed queries against the `services` table in #4187, so let's track status updates there.

[2018-04-06 17:45] obelisk commented on #4264
Can you tell us which version of osquery you're using?

[2018-04-06 19:59] roens commented on #3327
I too am getting this… by just opening the `osqueryi` shell:
[code]

[2018-04-06 20:40] zwass commented on #3327
If you `cat` from the pipe that rsyslog is sending the logs into, do they have the appropriate format as specified in https://osquery.readthedocs.io/en/stable/deployment/syslog/#linux-syslog?

[2018-04-06 23:17] muffins commented on #4235
This deadlock has to do with numerous services being spun up, thus not necessarily related to _just_ events.

[2018-04-06 23:29] groob commented on #4251
That sounds good to me.

[2018-04-06 23:29] #4251 closed

[2018-04-09 09:38] ExceptionalHandler commented on #4235
This issue seems to occurs because the APC scheduled in lib\boost-msvc14\local\include\boost\asio\detail\impl\win_thread.ipp (line -54) never gets scheduled.

This could be because the APC was scheduled while destroying a thread_local http::Client object (created at osquery\remote\transports\tls.cpp line:170) while the thread is being terminated.
This results in QueueuserAPC getting called from co

[2018-04-09 11:53] defensivedepth opened #4270 "Scheduled Tasks - Removed/Added when Next Run changes"
osquery 2.11.12 on Windows Server 2012 R2 & Server 2016. Kolide Fleet 1.06 for distributed queries.

Currently running the following query on the Windows servers every 60 min:

`SELECT * FROM scheduled_tasks`

It appears to be pulling in the scheduled tasks just fine, however, a subset of the scheduled tasks are being Removed & Added every time this query is run, even though these scheduled tasks

[2018-04-10 03:35] muffins commented on #4270
Ah yeah, the current implementation of our differential queries will see that as a different result. The way you’d get around this behavior is avoid using ‘select * ...’ queries and be very specific about what data your want to see having changed for differential mode, and then leverage a snapshot query to get the “show me everything every time” data. I’m going to close this issue out as this is e

[2018-04-10 03:35] #4270 closed

[2018-04-10 03:51] muffins commented on #4270
Just to add onto that thought, a better differential query might be something like:
[code]
for a security detection query, and then something like:
[code]
As a `snapshot=true` query for sysadmin purposes.

[2018-04-10 04:05] muffins commented on #4235
@ExceptionalHandler awesome investigation, thanks for posting your findings! I'll try that out and see if it helps, and that hopefully explains what's up with the TLS config and logger plugins aiding the deadlock, however we can still repro the deadlock with local FS configuration and logging, with events and extensions enabled, any thoughts on those? The stack traces for the threads in these circ

[2018-04-10 09:01] #4071 closed

[2018-04-10 10:56] ExceptionalHandler commented on #4235
@muffins Thanks for the ack.
I could not repro the issue with distributed plugins and events enabled without TLS. A look at the thread stack / dump could confirm if that is a same issue or a different one. We can also use the boost::asio flag mentioned above to confirm if the two issues are identical.

[2018-04-10 11:05] erdarun commented on #4260
@muffins Running FIM on both RedHat Enterprise Linux Server 6.8, CentOS 7 & macOS Sierra 10.12.6. OSQuery version is "osquery-2.7.0-1.linux.x86_64.rpm"

[2018-04-10 11:06] erdarun commented on #4259
@muffins Running FIM on both RedHat Enterprise Linux Server 6.8, CentOS 7 & macOS Sierra 10.12.6. OSQuery version is "osquery-2.7.0-1.linux.x86_64.rpm"

[2018-04-10 14:49] fmanco opened #4272 "Incomplete interface flags on Linux"
#4063 changed the way flags are captured for network interfaces on linux. Before, flags would come from `getifaddrs`. With this PR flags are now read from '/sys/class/net/<dev>/flags'.

The problem is that not all flags are exported via `sysfs`, namely `volatile` flags as you can see at https://github.com/torvalds/linux/blob/master/include/uapi/linux/if.h.

We need to either revert to the old meth

[2018-04-10 17:04] defensivedepth commented on #4270
Thanks @muffins. It makes sense to be as specific as possible for differentials.

It would be helpful if stuff like this were documented for each table - ie a Notes section were added to the tables documentation, and something like this:

**Notes**
State changes in the following columns will cause differential queries to flag the task as Removed / Added.
next_run_time

Thoughts?

[2018-04-10 18:30] muffins commented on #4259
I haven’t verified there were any changes to FIM after 2.7.0, but can you try and reproduce with the latest stable cut, 2.11.2?

[2018-04-11 04:39] muffins opened #4273 "ux: osquery reports "file has unsafe permissions for extension path" which doesn't exist"
In debugging some extensions autloading with Python on Windows I encountered this, note the explicit passing of `--allow_unsafe=true`. This flag is also present in my flagsfile.
[code]
In this circumstance, the extension path is made up and non-sense, we should output here that the file was not found, as opposed to the message regarding unsafe permissions.

[2018-04-11 12:46] spectejb commented on #4258
@theopolis @muffins - Since everyone has a lot they are balancing, wanted to check in on this issue.  Thanks!

[2018-04-11 15:28] muffins commented on #4258
@spectejb I'll reach out to our open source teams to try and get clarification on that, unless @theopolis  recalls what the issues were, but I don't believe we are capable of moving to a purely Apache 2.0 license at this time.

[2018-04-11 20:41] groob commented on #4174
It's definitely related to the linked issue.

The core problem is that osquery builds this table by [parsing a plist](https://github.com/theopolis/osquery/blob/dec9bbd1425208754d69c2957cdaacf89a0b601d/osquery/tables/system/darwin/startup_items.cpp#L29-L30) in the preferences folder.
Generally plists are used on macOS as just caches, and there's no guarantees that the data in some /Preferences/foo.

[2018-04-11 21:04] arubdesu opened #4275 "KEXT table on macOS not showing actual path of artifact"
[code]
### What have you already tried?
running osqueryi (with or without sudo) with the following query:
[code]
### What did you expect to see?
actual path to kext, as installed, e.g.
   `path = /Library/Extensions/CbOsxSensorProcmon.kext/Contents/PlugIns/cbsystemproxy.kext`
### What did you see instead?
[code]

[2018-04-11 23:04] theopolis commented on #4258
Hello, the information here is good! You as the user of osquery can choose what license you want to use. I like the ASF's opinion on dual licenses, it is valid. Keep in mind that osquery is not a ASF project and we have no plans on becoming one.

We feel pretty strongly that we should give users the choice of ASL 2.0 or GPLv2. This does mean if you are contributing code you allow us to extend the

[2018-04-12 00:08] obelisk commented on #4275
Heyo,

It seems that this is a new feature in macOS high sierra to handle user authorized extensions and that is the entry point for the kernel extension. The kext information in that table is provided by the macOS API call `KextManagerCopyLoadedKextInfo` so we are getting that data directly from the OS...

I found some more information here: https://eclecticlight.co/2018/01/02/the-app-you-cant-tr

[2018-04-12 08:40] preetpoly opened #4280 "Windows Extension goes away if "select * from pipes" query is issued."
Details are as follows -
 1) Issue query "select * from pipes" from osquery shell or via scheduled queries.

2) This causes Extension Service responsible for communication with Extensions via pipe (\\.\pipe\shell.em) to exit.

3) Extension Watcher detects that shell.em no longer exists and throws following message
I0412 01:20:24.826747  6708 extensions.cpp:208] Extension watcher ending: osquery co

[2018-04-12 13:08] spectejb commented on #4258
I appreciate the additional context, @theopolis!  I had never seen a license description for a contribution like this before but it makes sense now.  Ultimately, the CLA will govern and the contributor should be aware that someone may choose a GPL or Apache license for the project, if needed.  Many thanks also to @muffins as well.

[2018-04-12 18:01] muffins commented on #4280
[Wop wop](https://github.com/facebook/osquery/blob/master/osquery/tables/system/windows/pipes.cpp#L42). Nice triage! Looks like we do indeed connect the named pipe, and thus cause the breakage :)

[2018-04-13 06:34] muffins commented on #4221
This was addressed with #4222

[2018-04-13 06:34] #4221 closed

[2018-04-14 01:35] ErikGoldman opened #4283 "can't build osquery on OS X"
### What version of `osquery` are you using? What operating system. Be specific.
[code]

building on 67dd49a680dcad702ceb3e9c4cdef33fba07cf7a (and other versions) produces this error on my machine:

[code]

my commands to build were:
[code]

any idea what's going on? I can post a longer log file for the build but nothing else seemed particularly relevant.

thanks!

[2018-04-14 02:03] fossam commented on #4272
I filed the original bug that started the change to sysfs. The problem with the old way was that it wasn't correctly representing the promiscuous mode set in a common way. If at all possible, let's try to settle on a solution that preserves a way to accurately expose the promiscuous mode.

[2018-04-14 02:13] fossam opened #4284 "no output from yum_sources"
@Ngo-The-Trung I think you just recently contributed this table.

I built off of d27787e84f031ed17d0b20fb3165c1c49f125b5c and got a vanilla Centos7 VM, but I am having trouble getting output with:

The VM has the default repos and updates fine, so it has working yum repos.

[2018-04-14 03:37] Ngo-The-Trung commented on #4284
Does it come out empty or does it crash?

This table only reads from `/etc/yum.conf` and files under `/etc/yum.repos.d`. Can you check if any of the files are there? The VM could have used a different dir.

If you the centos7 vm is publicly available you can put a link here I'll take a look.

[2018-04-14 05:17] muffins opened #4285 "tests: Windows integration tests for thrashing the windows service"
We need more tests around starting and stopping the windows service. This process should be relatively robust, but crashes can occur and we need more assurances that on service stop no residual processes linger.

[2018-04-15 00:50] fossam commented on #4284
It comes out empty - it does not crash.
The VM is not publicly available, but it is a minimal install from the official iso with minimal changes. The osqueryi binary is copied from a build host.
Which install can you confirm it works on?

[code]

Relevant selection of strace output:
[code]

[2018-04-16 09:07] fmanco commented on #4272
Hi @fossam thanks for the tip. I'll make sure I don't break that. I think the solution will be to get the missing information from other sources, but I still need to investigate.

[2018-04-16 14:43] obelisk commented on #4283
Have you pulled recently? 2.6.1 is quite old and many things have changed since then so it's quite possible that just pulling the new code will fix the issue.

[2018-04-16 15:20] ilovezfs commented on #4283
@obelisk we're seeing this in Homebrew CI now too with 3.2.2 https://jenkins.brew.sh/job/Homebrew%20Testing/625/version=high_sierra/testReport/junit/brew-test-bot/high_sierra/install_osquery/

Maybe caused by Xcode 9.3?

[2018-04-16 15:50] obelisk commented on #4283
Investigating.

[2018-04-16 18:11] obelisk commented on #4283
Fix is here: #4291

[2018-04-16 19:25] obelisk commented on #4283
Fix is landed and build should work now!

[2018-04-17 03:12] muffins commented on #4283
Closing this out, feel free to reopen if you have more issues :)

[2018-04-17 03:12] #4283 closed

[2018-04-17 05:27] ErikGoldman opened #4292 "Linux builds huge binaries"
hello! I'm building OSQuery on Ubuntu Xenial using the following commands:

[code]

result:

[code]

159M! am I doing something wrong?

[2018-04-17 11:43] fmanco commented on #4292
Hi @ErikGoldman no you're not. Those binaries include all debug information. Our scripts automatically strip that out when creating packages and that's why if you install a .deb or .rpm the binary is so much smaller. You can strip the binary yourself running something like: `strip build/linux/osquery/osqueryd`.

Hope this helps.

[2018-04-17 13:52] fmanco commented on #4203
Hi @fossam, thanks for the report and apologies for the delay. Is this still happening?

[2018-04-17 13:54] fmanco commented on #4081
This should be fixed now. Feel free to reopen if not.

[2018-04-17 13:54] #4081 closed

[2018-04-17 15:18] fmanco commented on #4284
Hi @fossam I see what the problem is. We're looking at files with the `.list` extension, but your's have `.repo`. Could you just post the contents of `/etc/yum.conf` here please? Thank you!

[2018-04-17 15:20] #4258 closed, assigned to nobody

[2018-04-17 15:38] SAlexandru opened #4293 "file table needs max depth of processing"
Running osquery 2.11.2, Mac OS High Sierra
You can create a symlink folder loop (the easiest is to create a symlink to the current folder)
When you try to query the file table for information of all the files in that path, osqueryi will die with

The easiest is to add max depth of search for queryies that contain `SELECT * FROM file WHERE path LIKE '/Applications/%%%'`

[2018-04-17 17:07] ErikGoldman commented on #4292
ahh much better. thank you!

[2018-04-17 17:07] #4292 closed

[2018-04-17 20:16] maus- opened #4296 "inotify subscriptions on excluded paths"
It appears that inotify adds event subscriptions for directories that have been excluded via the osquery config. This can cause an issue with not enough inotify handles available.

For example, take the following config for monitoring all of etc. But we have a specific folder called "lotsoffiles" and lotsoffiles contains 600,300 files within it. _Why this is in etc is unbeknownst to me._

[code]

[2018-04-17 20:18] muffins commented on #4296
I think just flipping those two blocks might be the correct path forward, but we should do some testing to ensure that doesn't cause other unexpected results.

[2018-04-17 20:47] MichaelDoyle opened #4297 "python_packages does not support egg format"
It looks like the `python_packages` table supports `dist-info` and `egg-info` package formats, but not `egg`. This means that currently, all installed packages are not properly listed when querying `select * from python_packages`.

Relevant code:

https://github.com/facebook/osquery/blob/master/osquery/tables/system/python_packages.cpp#L93-L101

See also:

http://setuptools.readthedocs.io/en/lates

[2018-04-17 22:02] fossam commented on #4284
[code]

Note that it shares the same hash as recorded in the upstream provided package metadata.
[code]

[2018-04-17 22:48] Ngo-The-Trung commented on #4284
Yeah, I'm afraid that since the top level `/etc/yum.conf` doesn't have any repo, and the other files are named `.repo`, this will output nothing since I look for `.list` files.

We could relax this by removing the `.list` extension glob.

[2018-04-18 00:28] muffins opened #4298 "vagrant: Windows box fails provisioning due to python thrift issue"
Currently trying to provision with a vargrant box will fail at installing the python thrift package. This is because there's an issue with installing thrift on python if the word `vagrant` is anywhere in your environment, see [this issue on thrift](https://github.com/apache/thrift/commit/9e0c9272140ea91ea4b3f042d207acbbaa15c093). As this is a known issue with Thrift, and it has been patched *but n

[2018-04-18 00:30] muffins commented on #4298
You'll also need to exit your shell env, and in my case I needed a system reboot before this change went into effect. That being said you could likely just run `$env:HOME="C:\Users\myuser"` and it might work.

[2018-04-18 03:41] fossam commented on #4284
Why are we looking for ```.list``` files? yum is always using ```.repo``` files (http://yum.baseurl.org/api/yum/yum/__init__.html?highlight=.repo#yum.__init__.YumBase.getReposFromConfig)

```.list``` files are usually used by apt.

[2018-04-18 09:06] Apptestingrd opened #4299 "windows msi packaging"
I generated my custom msi package using the following scripts

.tools/make-win64-dev-env.bat
.\tools\make-win64-binaries.bat
.tools/deployment/make_windows_package.ps1

I've encountered some issues

1-   I installed osquery to windows server 2012 using the msi package which I generated by the scripts but it is seen as "incoming host" waiting in this way continiously on Kolide. No problem with the

[2018-04-18 14:40] fossam commented on #4203
Thanks for the heads up to try again, @fmanco. The script got well past the libdb make part - so that worked great!

However, now it 404s on libdpkg:

[code]
If you like I can start another issue on that, it's up to you.

[2018-04-18 14:51] fmanco commented on #4203
Hi @fossam I can repro that. I'll take a look. Thanks.

[2018-04-18 14:52] muffins commented on #4285
This was added in #4286

[2018-04-18 14:52] #4285 closed

[2018-04-18 14:53] muffins commented on #4235
This was fixed in #4286

[2018-04-18 14:53] #4235 closed

[2018-04-18 17:20] jkeljo opened #4300 "Watchdog docs for CPU usage limits are self-contradictory and also disagree with actual behavior"
Here's one place (from https://osquery.readthedocs.io/en/stable/installation/cli-flags/#daemon-control-flags):

A little further down the same page:

There are a few issues here:
1. There are three values quoted for default max CPU usage: 25%, 30%, and 3000% (90 seconds of CPU/3 seconds of wall time)
2. `watchdog-utilization-limit` is described as allowing you to specify using "more than 30% of a

[2018-04-18 18:18] jkeljo opened #4301 "Scheduler loop loses time"
https://github.com/facebook/osquery/blob/483fbbb594fe7172d6c008e1a018eb9c107ba99e/osquery/dispatcher/scheduler.cpp#L154

The loop variable used by the scheduler is supposed to be the time, but it tracks time imprecisely and generally loses time. This is because `i` is incremented by the loop, and the loop generally runs for *at least* one second (the `pauseMillis(1000)` call plus however long any

[2018-04-18 18:31] jkeljo opened #4302 "For Discussion: Discovery queries run before extensions autoload"
I have some queries that are gated by discovery queries that rely upon extension tables. I've seen them take a while to actually start running because the first run of the discovery query happens before the extension is loaded, fails due to the table being missing, and then it is not run again until the pack refresh interval has passed.

What's the intended fix here? Make the extension required in

[2018-04-19 12:03] Apptestingrd commented on #4299
I've repeated the test, the packgage generated by the scripts is now **3.2.3** (previously 3.2.2)
the distributed query problem is still occuring.

also you may want to know that I see some old config\queries in the output of osquery agents (--verbose --tls_dump=true)
but that's a different situation showing up that there is a problem with Kolide

[2018-04-19 15:55] obelisk commented on #4299
This seems like a Kolide error. @zwass could you take point on this?

[2018-04-19 16:12] zwass commented on #4299
@Apptestingrd if you are having issues with Fleet, please file them in the https://github.com/kolide/fleet repo.

[2018-04-19 16:27] #4299 closed

[2018-04-19 17:10] obelisk opened #4304 "Possible leak in sip_config"
sip_config seems to have an intermittent leak.

Reproduction steps:
Run the leaks profiler as sudo for `select * from sip_config`.

The leak is 55 leaks for 8656 total bytes.

[2018-04-19 17:46] obelisk commented on #4304
Fix here: #4305

[2018-04-19 21:41] fmanco commented on #4301
Hi @jkeljo, yeah it looks you're correct, but I'm not sure I follow the solution you're proposing. Could you please explain?

[2018-04-20 11:04] fmanco commented on #3016
Can you get the contents of `/proc/net/tcp6` and `/proc/<pid>/net/tcp6` and `ls -l /proc/<pid>/ns` when that happens? Maybe this is a bug related to the way we collect this info when we have namespaces.

[2018-04-20 17:13] akamalov opened #4307 "Question: Connectivity to Collins database"
Greetings,

This is a question: Is there any way I can have an output of myq query to log directly to Collins database ?

https://github.com/tumblr/collins

[2018-04-20 20:52] #4304 closed

[2018-04-20 23:13] groob opened #4308 "failing to compile on darwin with SKIP_TABLES=True"
### What version of `osquery` are you using? What operating system. Be specific.
Brand new 10.13.4 Mac with CLI tools brew configured

### What have you already tried?
[code]
### What did you expect to see?
osquery compiles
### What did you see instead?
[code]

[2018-04-20 23:52] groob commented on #4308
@zwass was helping me debug, and it looks like it fails to compile because I had `SKIP_TABLES=true`
https://github.com/facebook/osquery/blob/master/osquery/tables/CMakeLists.txt#L37

[2018-04-21 05:10] uptycs-nishant commented on #4296
Inotify does not monitor individual file if you are monitoring the directory recursively, it sets the watch on  directories.  So if 600k+ are directories inside the etc then you should not worry about inotify but to worry about why there are 600k+ directories inside etc folder.

'flipping those two blocks' will not simply work in the following scenario.
Suppose you want to monitor "/dir1/dir2/%%"

[2018-04-22 05:10] obelisk commented on #3232
This is now up for consideration into core here: #4313

I'm going to close this issue and any further discussion can happen there.

[2018-04-22 05:10] #3232 closed

[2018-04-22 15:58] theopolis commented on #4301
Right, osquery intervals are loosely based on time. And time is a seed as to where to start incrementing.

Right!

I think real-time query intervals are doable. You can use a `rt-interval` or a boolean `realtime: True` to distinguish.

[2018-04-22 16:01] theopolis opened #4314 "AWS centos-6 labels have been running out of disk space"
You may have been seeing:

[code]

In the Jenkins console logs: https://jenkins.osquery.io/job/osqueryPullRequestLinux/6909/TargetSystem=aws-centos-6/console

This is because the `centos-6` machines were configured for a 20GB drive. All other machines have a 64G drive, which allows for several runs and a lot of state to build up for `ccache`. This is now fixed in the Jenkins configuration for EC2

[2018-04-23 03:03] muffins commented on #4260
Hey @erdarun, truly sorry for the delay in our response! Would you mind updating to the latest stable version, 2.11.2 and check if you can still reproduce?

[2018-04-23 03:04] muffins commented on #4259
@erdarin I mentioned in you’re other issue, have you had a chance to upgrade to 2.11.2 and reproduce the behavior?

[2018-04-23 03:08] muffins commented on #3954
Closing this out as it’s stale. We have a number of extensions deployed internally on windows that don’t disappear. If folks have continued issues for this on the latest versions of osquery please feel free to reopen!

[2018-04-23 03:08] #3954 closed

[2018-04-23 13:23] redplait opened #4317 "handles leak in genMemoryMap under windows"
it seems that handle after OpenProcess does not closing in https://github.com/facebook/osquery/blob/master/osquery/tables/system/windows/processes.cpp

[2018-04-23 15:18] akamalov opened #4318 "OSquery fails to contact enroll server - Kolide/Fleet"
**Environment**

OS: ```RHEL 7.3```
OSqueryd: ```2.11.0```

**Problem**

Starting 'osqueryd', it starts up, but never contacts enrollment server - Kolide/Fleet.

**File: osqueryd.WARNING**
[code]

OSqueryd Service file.

**File: /etc/osquery/osquery.flags**

[code]

**File: /etc/osquery/osquery.conf**

[code]

It just fails to contact Kolide/Fleet for some reason. The only error I get is osqueryd

[2018-04-23 15:40] obelisk commented on #4318
Please open an issue with Kolide :)

[2018-04-23 15:40] #4318 closed

[2018-04-23 15:44] akamalov commented on #4318
thanks @obelisk . Opened up an issue ticket with Kolide.

[2018-04-23 16:09] obelisk commented on #4317
Heyo,

I'll try to take a look at this later today, Windows is not generally my wheelhouse though so it might take me a little longer.

[2018-04-23 17:57] jkeljo commented on #4301
@fmanco, I'm imagining a priority queue of queries ordered by next run time. Then the scheduler loop looks something like (pseudocode):

[code]

@theopolis something like the above wouldn't need queries to opt-in; is there a concern with doing it this way?

[2018-04-23 17:58] jkeljo commented on #4301
Oh, forgot to mention... if the main loop is written that way, it's probably not just queries, but various kinds of tasks. (E.g. the first loop has some logic to update the decorators every 60 seconds; that could just be another task with a 60-second interval.)

[2018-04-24 13:41] redplait opened #4322 "handles leak in PlatformProcess::getCurrentProcess under windows"
Hi
it seems that we have another process handles leak in PlatformProcess::getCurrentProcess(). lets see how it happens:
[code]
in make_shared calling constructor PlatformProcess::PlatformProcess and then duplicateHandle, so new duplicated handle returns in std::shared_ptr<PlatformProcess> object and old one just remains unclosed

possible fix:
[code]
also it seems like total overkill to have bunch

[2018-04-24 13:53] redplait commented on #4317
you could just add line like
CloseHandle(proc);
before each return

[2018-04-24 15:16] muffins commented on #4322
Nice finds, thanks for sharing! We'll get these sorted out asap.

[2018-04-24 22:22] #4317 closed, assigned to nobody

[2018-04-24 23:43] scottlundgren commented on #2754
I have create an entirely uninteresting proof-of-concept on HANDLE enumeration across all processes.  This is done in usermode (no custom kernel module) using a series of reasonably well-known techniques, man of which date back well over a decade.

The proof-of-concept can be found on github at https://github.com/scottlundgren/objects/blob/master/objects/objects/objects.cpp

I have provided exampl

[2018-04-25 19:18] HandIeNeeded commented on #4284
Merged the fix for this into master. Close the issue.

[2018-04-25 19:18] #4284 closed

[2018-04-26 10:09] Apptestingrd commented on #4264
2.11.2

[2018-04-26 16:34] cryps1s opened #4330 "Extend /etc/hosts to include hosts.ics for Windows"
I'd like to request the etc_hosts table be expanded to also include the contents of the "hosts.ics" file in Windows. This file is dynamically generated and modified by the internet connection service (ICS), and is used primarily by ICS and Hyper-V.

This file can be malicious modified as a more stealthy hosts file override. The end goal of this FR would be to include changes to the hosts.ics file

[2018-04-26 17:16] cryps1s opened #4331 "Add vtable for Security Center (Windows)"
Third-party security products are required to register themselves within the Windows Security Center (WSC). WSC interfaces directly with the security product to track changes in installation, configuration, and health, and with the Action Center, which notifies users of required actions (e.g. restart the firewall).

This would be a fantastic vtable to add, as it would allow systems owners to intro

[2018-04-27 03:07] danielpops opened #4333 "Lots of sst files under /var/osquery/osquery.db/"
We're seeing this issue where over time, osquery will start to utilize a lot of CPU. We have observed that when this happens, it is typically after osquery has been running for several months. We also observe that when this happens, there are 50k+ sst files under /var/osquery/osquery.db!

Couple of questions:
- Is it normal to have so many files under there?
- Is it safe to purge old files based o

[2018-04-27 17:24] clong opened #4336 "osquery Cannot Gather Contextual Information from Protected Process Light (PPL) Processes"
Looks like osquery is not able to gather information about processes that have the PsProtectedLight protection applied to them.

The following query demonstrates the problem: `osquery> select name, path, cmdline, state, cwd, uid, gid, user_time, system_time, start_time from processes where user_time < 0;`

### What version of `osquery` are you using? What operating system. Be specific.
[code]

###

[2018-04-28 15:31] Jbone187 opened #4338 "Ubuntu 18"
Is it possible to have osquery available for ubuntu 18?

[2018-04-29 17:26] theopolis commented on #4338
You can use osquery on any x86_64 Linux that supports DEB installs using the packages here https://osquery.io/downloads/official/2.11.2

[2018-04-29 17:27] theopolis commented on #4338
This should work on Ubuntu 18.04

[2018-04-30 00:50] clong commented on #4220
I think this issue can be closed

[2018-04-30 13:53] theopolis commented on #4314
Ok, this time it should be fixed, but it's not 100% perfect.

The CentOS6 hosts do not auto-resize to the size of the disk in EC2.

I've added:
[code]

To their init scripts in Jenkins. This does not take effect until you remount the filesystem, e.g, reboot the machine. These hosts will be turned off after 2 hours so in practice they should not hit disk limit issues.

[2018-04-30 19:38] muffins commented on #4333
* Is it normal to have so many files under there? No, these should be cleaned up over time, but this has been an issue in the past, see #3984 as it _might_ be related, but this shouldn't normally be the case.
* Is it safe to purge old files based on mtime? or atime? That's a tough one, as it's unknown what might be stored in there as it depends on your configuration.
* Has anyone else observed so

[2018-05-01 09:51] fmanco opened #4340 "make sync is failing on CentOS 7"
Trying to `make sync` causes cmake to fail compiler tests.

[code]

[2018-05-01 09:52] fmanco commented on #4340
[code]

[2018-05-01 10:02] fmanco commented on #4293
Fixed on latest version.

[2018-05-01 10:02] #4293 closed

[2018-05-01 13:43] avaneendra opened #4342 "Build issues using Xcode"
Hi
 I am running into build issues with xcode. I see these errors;

The build must define OSQUERY_BUILD_SDK_VERSION.
What should be the value for these?
#if !defined(OSQUERY_BUILD_SDK_VERSION)
#error The build must define OSQUERY_BUILD_SDK_VERSION.
#elif !defined(OSQUERY_BUILD_PLATFORM)
#error The build must define OSQUERY_BUILD_PLATFORM.
#elif !defined(OSQUERY_BUILD_DISTRO)
#error The build must

[2018-05-01 15:49] danielpops commented on #4333
Thanks @muffins!! I'll see about upgrading at some point in the near future. I guess i'll upgrade a host with lots of sst files (without purging them first) and see what happens!

[2018-05-01 18:16] theopolis commented on #4340
Yes! This rings a bell, but I forgot the root cause. I think an incompatibility between the linker used to build `/usr/local/osquery/bin/cmake`.

[2018-05-01 18:35] barn-stripe opened #4348 "Empty usb_device class on macOS"
### What version of `osquery` are you using? What operating system. Be specific.
`osqueryi version 2.10.2` on linux host and `osqueryi version 2.11.2`

### What have you already tried?

a bunch of other macs, asking in Slack.

### What did you expect to see?

Linux host:

[code]

### What did you see instead?

macOS 10.13.4 host

[code]

Same Bose headphones (only USB thing I had to test with) and

[2018-05-01 18:59] barn-stripe commented on #4348
a41ff4117faa1b28e6a11364c4d02f4a5aa4e8bf is the commit that added that support for linux. Whereas https://github.com/facebook/osquery/blob/master/osquery/tables/system/darwin/usb_devices.cpp doesn't have any code to do that... so that would be the problem (:

[2018-05-01 21:43] obelisk commented on #4342
How are you building with XCode? We generally don't support building with it and use CMake. You can have cmake generate an XCode project if you'd like but there are also some build issues there which haven't been ironed out. See PR #4178

[2018-05-01 22:09] avaneendra commented on #4342
Thanks Obelisk. Checking out the PR#4178

[2018-05-01 23:16] muffins commented on #4333
@danielpops right on. My bet is that nothing will happen on the hosts with large amounts of `.sst` files, as I don't _think_ that we do any sort of purging. I'm more curious if see if this can be replicated on newer versions of osquery, but as you mentioned this took quite a bit of time to trigger. I don't think we've seen that in our environment lately, but I would definitely encourage you to hit

[2018-05-01 23:59] barn-stripe commented on #4348
Have a branch with

[code]
Just working on the CLA (:

[2018-05-02 01:55] theopolis opened #4354 "Use blocking=True for Windows in hashing.cpp"
See @muffins's reference here: https://github.com/facebook/osquery/pull/4350

[2018-05-02 03:47] muffins commented on #3949
Addressed in #4316

[2018-05-02 03:47] #3949 closed

[2018-05-02 12:32] yuvalapidot commented on #4187
Though I thought this was a Windows bug only - I tested most mac osquery tables, the issue reproduces with mac 'asl' table as well.

[2018-05-02 15:06] muffins opened #4357 "feature: port WEL processing code to RJ from ptrees"
The windows event log pipeline still makes use of ptrees. This should be ported over to RJ as this is our preferred JSON representation.

[2018-05-02 15:55] Rich5 commented on #4176
Is there any known work-around for getting file ownership values on Windows?

[2018-05-02 17:08] jacknagz commented on #4158
@muffins any update in here? thanks!

[2018-05-02 17:08] SAlexandru opened #4358 "Fix autoloaded extension processes outliving the main process"
When osqueryd is killed the extensions are not automatically killed, if the process comes back up quickly enough the extension will register with the new process which might cause problems like the refuse to register duplicated extension we're seeing in prod. This might also cause some annoyance with osqueryi.

[2018-05-02 17:08] jacknagz commented on #4158
Latest version is now https://github.com/aws/aws-sdk-cpp/tree/1.4.40

[2018-05-03 02:27] Rich5 opened #4360 "Unable to resolve username to process for Windows builtin and elevated accounts"
### What version of `osquery` are you using? What operating system. Be specific.
[code]

[code]

### What have you already tried?

I'm trying to get similar process details as shown in the native task manager application. Specifically I'd like to show the user account associated with a running process. The following query is the best results I can get so far:

[code]

### What did you expect to se

[2018-05-03 18:14] muffins opened #4364 "events: Windows Event Log may not grab all data from events"
The Windows event log parsing is somewhat incomplete. This was known at the time of development, as some of the values in the `System` XML attribute didn't seem necessary, however considering more folks are relying on this data pipeline, we should extend our schema to get all fields out of the `System` attribute.

Further, we currently only process the `System` and `Event` XML attributes and child

[2018-05-03 20:57] #4348 closed

[2018-05-03 21:00] obelisk commented on #4342
This is not something we're supporting right now so I'm going to close this issue. If we want to support it more broadly let's open an issue to that effect or continue discussion on the PR.

[2018-05-03 21:00] #4342 closed

[2018-05-04 01:58] Rich5 commented on #4360
What can I do to help out with this?

[2018-05-04 02:37] tdesrochers commented on #4364
Besides the missing/omitted fields there is also an issue with the JSON produced.

This snippit is from `columns.data` of a WEL taken from `osqueryd.results.log`.
[code]
The escapes and `\\x0A` create invalid json.  If you remove them you have valid json that can be parsed by tools like nxlog/winlogbeat/logstash/etc.
[code]
[code]

The rest of the fields parse as expected

[2018-05-04 04:50] muffins commented on #4360
Hey @Rich5, sorry for no response on this, I just haven't had a chance to tear into it. We have a few other issues noting some shortcomings of the users table, so it looks like there might be some re-architecting that needs doing there. If you're comfortable with C++ and you're interested in digging into the fix I'd suspect there's some changes that need done to the [users table](https://github.co

[2018-05-04 04:53] muffins commented on #4364
@tdesrochers ah yes, this was definitely an issue, but was [supposed to have been fixed in osquery 2.11.0+](https://github.com/facebook/osquery/pull/3985). I know that it just released, but if you have a chance and can pull down osquery 3.2.4 could you take a stab at reproducing and see if the issue persists for you on the latest version? I'll try and repro on my system locally, but haven't seen t

[2018-05-04 05:02] muffins commented on #4171
Closing this out as the issue seems stale. Feel free to re-open if you're still seeing this problem :)

[2018-05-04 05:02] #4171 closed

[2018-05-04 11:50] tdesrochers commented on #4364
I will grab a new version today/this weekend and check.

On Fri, May 4, 2018, 00:53 Nick Anderson <notifications@github.com> wrote:

[2018-05-04 11:51] tdesrochers commented on #4364
Also does osquery allow you to specify specific eventids to collect or only
categories.

On Fri, May 4, 2018, 07:49 tgdesrochers <tgdesrochers@gmail.com> wrote:

[2018-05-04 13:42] Rich5 commented on #4360
No worries. Just wanted to offer help if I can. I'll take a look at the users and processes table to see if I can triage. I know my way around code, but I'm not the best C++ dev so I'm not sure I'm the one to ultimately implement the fix. If it's something I can do myself I'll get a PR together though.

[2018-05-04 14:16] Apptestingrd commented on #4299
I haven't encountered the problem since I build using git checkout tags/2.11.2

[2018-05-04 15:38] Rich5 commented on #4360
After looking around a bit I think a quick fix might be just changing the parameters to GetTokenInformation. You can see [here](https://github.com/facebook/osquery/blob/master/osquery/tables/system/windows/processes.cpp#L238 ) that TokenOwner is used instead of TokenUser.  TokenOwner appears to return the group rather than the user which may be why we get 544 and 0 for uid for elevated processes.

[2018-05-04 16:25] muffins commented on #4360
@Rich5 awesome triage! Thanks for digging into this! Yeah I don't think there was any _specific_ reason for pulling the group token information as opposed to the user, but @yying could correct me if I'm wrong here. I'd say lets move forward with the switch to `TokenUser` as opposed to `TokenOwner` if it's getting us more accurate information.

As for extending the schema with an `is_elevated_token

[2018-05-04 17:30] tdesrochers commented on #4364
That's the answer I was hoping for, define collection based upon the query.
I'm running "select * from windows_events;" for initial testing.

Thank you

On Fri, May 4, 2018, 12:19 Nick Anderson <notifications@github.com> wrote:

[2018-05-04 18:10] Rich5 commented on #4360
I'm standing up a dev environment so I can test this out. I'll keep you posted.

[2018-05-04 21:09] tdesrochers commented on #4364
tested with osquery 3.2.4 and I get the following in osquery results log:
[code]

When parsed I am still left with:
[code]

The `\\x0A` and `<xmlattr>` are still there and make the json invalid along with the escapes.

[2018-05-05 03:09] Rich5 commented on #4360
I can confirm that using TokenUser works!

Using TokenOwner
[code]

using TokenUser

[code]

I'll start working on the `is_elevated_token` column and get a PR together.

[2018-05-05 04:00] muffins commented on #4360
That's awesome, thanks @Rich5!

[2018-05-05 04:31] Rich5 commented on #4360
And there we go...

[code]

[2018-05-07 03:15] muffins commented on #4360
Fixed in #4369

[2018-05-07 03:15] #4360 closed

[2018-05-07 11:38] tdesrochers commented on #4364
Continued testing on 3.2.4 shows that all data is parsed correctly except for `columns.data.EventData` .  If the EventData field were parsed correctly then the logs could be shipped and read without additional logic for the shipper.

I have tried shipping the logs with filebeat/winlogbeat/NXlog/ and fluentd.  All give the same result unless I start logic to detect escapes and `/r/n` to parse the l

[2018-05-07 17:59] zwass opened #4371 "osquery::getFqdn() may not use correct logic on macOS"
(Reporting this on behalf of other users, so I don't have the most specific details. Hopefully we can get clarification from them.)

In multiple instances reported recently, users have found unexpected names for `hostname` in `system_info`. It looks like these are associated with edits to the `hosts` file.

See [chat transcript](https://osquery.slack.com/archives/C1XCLA5DZ/p1524786088000314) with

[2018-05-07 18:08] groob commented on #4371
I can repro the issue on darwin. It appears that the `hostname` value behaves different depending on which values I have set.

If I `sudo scutil --set HostName "foobar"`, then `hostname` becomes`foobar`.
if I `sudo scutil --set HostName ""` then `hostname` becomes the value of `LocalHostname` and then `ComputerName` in that order.

If I clear both of those, it becomes `macbook-pro.local`.

[2018-05-07 19:38] muffins commented on #4364
Got it, will look into fixing that, thanks for the triage @tdesrochers!

[2018-05-08 01:52] guliashvili commented on #4227
Hi,
I will be working on that. Will let you know the updates.

[2018-05-08 10:29] fmanco commented on #4227
@guliashvili Thanks for working on this.

[2018-05-08 16:48] fmanco commented on #4371
Looking at #3846 it seems that we at least have a naming problem here. I don't have enough historical context so maybe @theopolis can help, but `hostname` is in fact a FQDN and `computer_name` a simple hostname. `local_hostname` is weird because it is the same as `hostname` for

[2018-05-08 17:28] theopolis commented on #4371
RIght. `hostname` in our case is the FQDN. This was the original intent of the column and we fixed (or tried to fix at least) this in #3846. We invented the `computer_name` to better identify the short "name" of a computer/host. `local_hostname` is something unique to macOS. I don't have strong opinions beyond keeping `hostname` the FQDN value.